<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>文章分类</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="$!{systemConfig.keywords}">
  <meta name="description" content="$!{systemConfig.description}">
  <link rel="icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/css/bootstrap.css" >
  <script type="text/javascript" src="$!{rc.contextPath}/static/js/jquery.js"></script>
  <script type="text/javascript" src="$!{rc.contextPath}/static/js/bootstrap.min.js"></script>
</head>
<body class="childrenBody">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user"> 	
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">

	    <div class="layui-btn-group">
	    	#hasPermission("/user/articleCategory/doAdd")
	     	<button class="layui-btn" id="btnAdd" data-toggle="modal" data-target="#myModal">新增分类</button>
	     	#end
  		</div>
  		
	    <table id="categoryTable" lay-filter="categoryTab"></table>
	        
	    </div>
      </div>
    </div>
  </div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script src="$!{rc.contextPath}/static/res/layui-xtree/layui-xtree.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: 5
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

//table
layui.use(['table','jquery','form'], function(){
	  var table = layui.table;
      var form=layui.form;
	  var $ = layui.$ , active = {
	    reload: function(){
	        var roleNameInput = $('#roleNameInput');
	        //执行重载
	        table.reload('tab', {
	          page: {
	            curr: 1 //重新从第 1 页开始
	          }
	          ,where: {
	        	  roleName: roleNameInput.val()
	          }
	        });
	      }
	    };
	  
	  //监听工具条
	  table.on('tool(categoryTab)', function(obj){
	    var data = obj.data;
	     if(obj.event === 'del'){
	      layer.confirm('确定删除该分类么', function(index){
	        layer.close(index);
	    	$.ajax({
	    		url:"$!{rc.contextPath}/user/articleCategory/doDelete",
	    		type:"post",
	    		data:{articleCategoryId:data.id},
	    		success:function(data){
	    			if(data.code=='200'){
	    				layer.alert(data.msg);
	    				table.reload('tab');
	    			}else{	    				
	    				layer.alert(data.msg);
	    			}
	    		}
	    	});  
	      });
	    }else if(obj.event==='edit'){
	    	layer.closeAll();
	    	$.get('$!{rc.contextPath}/user/articleCategory/editPage',{articleCategoryId:data.id}, function(form) {
	    	if(form.code=='400'){
	    		layer.msg(form.msg);
	    		return;
	    	}	
	    	var index=layer.open({
	    			type: 1,
	    			title: '编辑分类',
	    			content: form,
	    			btn: ['保存', '取消'],
	    			shade: false,
	    			maxmin: true,
	    			offset: ['50px', '20%'],
	    			area: ['800px', '260px'],
	    		yes: function(index) {
	    			//触发表单的提交事件
	    			$('form.layui-form').find('button[lay-filter=edit]').click();
	    		},
	    		full: function(elem) {
	    			var win = window.top === window.self ? window : parent.window;
	    			$(win).on('resize', function() {
	    				var $this = $(this);
	    				elem.width($this.width()).height($this.height()).css({
	    					top: 0,
	    					left: 0
	    				});
	    				elem.children('div.layui-layer-content').height($this.height() - 95);
	    			});
	    		},
	    		success: function(layero, index) {
	    			//弹出窗口成功后渲染表单
	    			var form = layui.form;
	    			form.render();
	    			form.on('submit(edit)', function(data) {
	    				 $.ajax({
	    					 url:'$!{rc.contextPath}/user/articleCategory/doEdit',
	    					 type:'post',
	    					 data:data.field,
	    					 success:function(res){
	    						 if(res.code=='200'){
	    							 layer.msg(res.msg);
	    							 layer.close(index);
	    							 table.reload('tab');
	    						 }else{
	    							 layer.msg(res.msg);
	    						 }
	    					 }
	    				 });
	    				//这里可以写ajax方法提交表单
	    				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。									
	    			});
	    		},
	    		end: function() {
	    			addBoxIndex = -1;
	    		}
	    		});
	    	});
	    }
	  });

     form.on('switch(categoryStatus)', function(data){
        var articleCategoryId=$(data.elem).attr('cid');
        var new_status =this.checked ? '1' : '0';
        var tipText = '确定下线该分类？';
        if(data.elem.checked){
            tipText = '确定上线该分类？'
        }
        layer.confirm(tipText,{
            icon: 3,
            title:'系统提示',
            cancel : function(index){
                data.elem.checked = !data.elem.checked;
                form.render();
                layer.close(index);
            }
        },function(index){//确认
            $.ajax({
                url:'$!{rc.contextPath}/user/articleCategory/changeStatus',
                data:{articleCategoryId:articleCategoryId,status:new_status},
                dataType:'json',
                type:'post',
                success:function(res){
                    if(res.code=='200'){
                        layer.alert(res.msg);
                    }else{
                        data.elem.checked = !data.elem.checked;
                        form.render();
                        layer.alert(res.msg);
                    }
                    layer.close(index);
                }
            });

        },function(index){//取消
            data.elem.checked = !data.elem.checked;
            form.render();
            layer.close(index);
        });
    });


    table.on('sort(categoryTab)', function(obj){
        var orderCondition=null;
        if(obj){
            orderCondition=obj.field+" "+obj.type;
        }
        table.reload('tab', {
            page: {curr: 1},
            initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
            ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                orderCondition:orderCondition
            }
        });
      });
	  
	  //第一个实例
	  table.render({
		id: 'tab',  
	    method: 'post',  
	    elem: '#categoryTable',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize' //每页数据量的参数名，默认：limit
	    },
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/articleCategory/getPageData', //数据接口
	    page: true ,//开启分页
	    cols: [[ //表头
	      {field: 'id', title: '角色ID', width:100, fixed: 'left'},
	      {field: 'categoryName', title: '分类名称', width:200},
	      {field: 'sort', title: '排序', width:100,sort:true},
	      {field: 'status', title: '是否启用', width:100,templet:function(d){
	    	  var statusAuth='#hasPermission("/user/articleCategory/changeStatus") 1 #end';
    	  	  if(!statusAuth){
    	  		statusAuth='disabled';
    	  	  }
    	  	  var checked='';
	    	  if(d.status=='1'){
	    		  checked='checked';
	    	  }
	    	  var s='<input value="1" cid="'+d.id+'" lay-filter="categoryStatus" type="checkbox" name="status" lay-skin="switch" lay-text="启用|未启用" '+statusAuth+' '+checked+'>';
	    	  return s;
          }},
	      {field: 'createTime', title: '创建时间', width:200,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm:ss',new Date(d.createTime));
	      }},
	      {title:'操作',width:200,templet:function(row){
	    	  var p_edit='#hasPermission("/user/articleCategory/doEdit") 1 #end';
        	  var p_delete='#hasPermission("/user/articleCategory/doDelete") 1 #end';
	    	  
	    	  var btn_edit='<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
	    	  var btn_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
	    	  var show='';
	    	  if(p_edit){
	    		  show+=btn_edit;
	    	  }
	    	  if(p_delete){
	    		  show+=btn_delete;
	    	  }
	    	  return show;
	      }}
	    ]]
	  });
	  
	  $('#btnAdd').on('click', function() {
		  layer.closeAll();
			$.get('$!{rc.contextPath}/user/articleCategory/addPage', null, function(form) {
			if(form.code=='400'){
				layer.msg(form.msg);
				return;
			}	
			var index=layer.open({
					type: 1,
					title: '新增分类',
					content: form,
					btn: ['保存', '取消'],
					shade: false,
					maxmin: true,
					offset: ['50px', '20%'],
					area: ['800px', '260px'],
				yes: function(index) {
					//触发表单的提交事件
					$('form.layui-form').find('button[lay-filter=add]').click();
				},
				full: function(elem) {
					var win = window.top === window.self ? window : parent.window;
					$(win).on('resize', function() {
						var $this = $(this);
						elem.width($this.width()).height($this.height()).css({
							top: 0,
							left: 0
						});
						elem.children('div.layui-layer-content').height($this.height() - 95);
					});
				},
				success: function(layero, index) {
					//弹出窗口成功后渲染表单
					var form = layui.form;
					form.render();
					form.on('submit(add)', function(data) {
						 $.ajax({
							 url:'$!{rc.contextPath}/user/articleCategory/doAdd',
							 type:'post',
							 data:data.field,
							 success:function(res){
								 if(res.code=='200'){
                                     layer.msg(res.msg);
									 layer.close(index);
                                     table.reload('tab');
								 }else{
									 layer.msg(res.msg);
								 }
							 }
						 });
						//这里可以写ajax方法提交表单
						return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。									
					});
				},
				end: function() {
					addBoxIndex = -1;
				}
				});
			});
	  });
});
</script>
#parse("./html/common/common.html")
</body>
</html>