<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body class="childrenBody" style="height:1100px;">
	<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
    	<div class="layui-btn-group">
    		#hasPermission("/user/article/doSave")
	     	<button class="layui-btn" onclick="location.href='$!{rc.contextPath}/user/article/addPage'" >发表新帖</button>
	     	#end
  		</div>
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span id='articleCounts'></span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我收藏的帖（<span id='collectionCounts'></span>）</li>
      </ul>
      
      	  	
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">
		    <div class="layui-tab-content">
		       <span class="layui-breadcrumb" lay-separator="|">
		  		<a href="javascript:;" class="category-item selected" status="">全部</a>
		  		<a href="javascript:;" class="category-item" status="3">已发表</a>
		  		<a href="javascript:;" class="category-item" status="0">未通过</a>
		  		<a href="javascript:;" class="category-item" status="1">草稿</a>
		  		<a href="javascript:;" class="category-item" status="2">审核中</a>
				</span>
		    </div>
	    	<table id="myArticles" lay-filter="myTable"></table>
	    </div>
      
        <div class="layui-tab-item">
          <table id="myCollections" lay-filter="myCollections"></table>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/static/js/util.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

//table
layui.use(['table','jquery'], function(){
	  var table = layui.table;
	  var $ = layui.$ ;
	  //监听工具条
	  table.on('tool(myTable)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'detail'){
	      window.open("$!{rc.contextPath}/article/"+data.articleId, '_blank').location;
	    } else if(obj.event === 'del'){
    	  if(data.status==3){
    		 layer.alert('发布中文章不能删除');
    		 return;
    	  }
	      layer.confirm('确定删除该文章么', function(index){
	        layer.close(index);
	    	$.ajax({
	    		url:"$!{rc.contextPath}/user/article/doDelete",
	    		type:"post",
	    		data:{articleId:data.articleId},
	    		success:function(data){
	    			if(data.code=='200'){
	    				layer.alert(data.msg);
	    				reload('articlesTab');
	    				var counts=$('#articleCounts').html()|0;
	    				$('#articleCounts').html(--counts);
	    			}else{	    				
	    				layer.alert(data.msg);
	    			}
	    		}
	    	});  
	      });
	    } else if(obj.event === 'edit'){
	    	 if(data.status==2){
	    		 layer.alert('审核中文章不能编辑');
	    		 return;
	    	 }
	    	 if(data.status==3){
	    		 layer.alert('发布中文章不能编辑');
	    		 return;
	    	 }
	    	 location.href="$!{rc.contextPath}/user/article/edit/"+data.articleId;	
	    }
	  });
	  
	  //第一个实例
	  table.render({
		id: 'articlesTab',  
	    //method: 'post',  
	    elem: '#myArticles',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize' //每页数据量的参数名，默认：limit
	    },
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/article/getPageData', //数据接口
	    page: true ,//开启分页
	    done: function(res, curr, count){
	    	$('#articleCounts').html(count);
	    },
	    cols: [[ //表头
	      {field: 'articleId', title: '文章ID', width:100, sort: true, fixed: 'left'},
	      {field: 'title', title: '文章标题', width:300,templet:function(d){
	    	  return "<a target='_blank' href='$!{rc.contextPath}/article/"+d.articleId+"'>"+d.title+"</a>";
	      }},
	      {field: 'status', title: '状态', width:100, sort: true,templet:
	    	  function(d){
	    	  	switch(d.status){
		    	  	case '0':temp='审核未通过';break;
		    	  	case '1':temp='草稿';break;
		    	  	case '2':temp='审核中';break;
		    	  	case '3':temp='发布成功';break;
		    	  	default:temp="无状态";
	    	  	}
	    	  	return temp;
	      	  }
	       },
		  {field: 'commentCount', title: '评论数', width:90, sort: true,align:'right'},
		  {field: 'viewCount', title: '阅读数', width:90, sort: true,align:'right'},
	      {field: 'createTime', title: '创建时间', width:200, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm:ss',new Date(d.createTime));
	      }},
	      {title:'操作',width:160,templet:function(row){
	    	  var p_edit='#hasPermission("/user/article/doEdit") 1 #end';
        	  var p_delete='#hasPermission("/user/article/doDelete") 1 #end';
	    	  
	    	  var detail='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>';
	    	  var edit='<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
	    	  var show='';
	    	  if(p_edit){
	    		  show+=edit;
	    	  }
	    	  if(p_delete){
	    		  show+=t_delete;
	    	  }
	    	  return detail+show;
	      }}
	    ]]
	  });
	  
	  
	  var status='';
	  function reload(tableId){
		 //执行重载
		 table.reload(tableId, {
		 page: {curr: 1},
		 where: {status:status}
		 }); 
	  }
	  
	  //切换文章类型状态
	  $('.category-item').click(function(obj){
		if($(this).hasClass('selected')){
			return;	  
		}
	  	$('.category-item').removeClass('selected');
	  	$(this).addClass('selected');
	  	status=$(this).attr('status');
	  	reload('articlesTab');
	  });	
	  
	  
	  //监听工具条
	  table.on('tool(myCollections)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'detail'){
	      window.open("$!{rc.contextPath}/article/"+data.articleId, '_blank').location;
	    } else if(obj.event === 'del'){
	      layer.confirm('确定删除该收藏么', function(index){
	        layer.close(index);
	    	$.ajax({
	    		url:"$!{rc.contextPath}/user/collection/remove",
	    		type:"post",
	    		data:{articleId:data.articleId},
	    		success:function(data){
	    			if(data.code=='200'){
	    				layer.alert(data.msg);
	    				reload('collectionsTab');
	    				var counts=$('#collectionCounts').html()|0;
	    				$('#collectionCounts').html(--counts);
	    			}else{	    				
	    				layer.alert(data.msg);
	    			}
	    		}
	    	});  
	      });
	    }
	  });
	 
	  //收藏
	  table.render({
		id: 'collectionsTab',  
	    //method: 'post',  
	    elem: '#myCollections',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize' //每页数据量的参数名，默认：limit
	    },
	    response: {
	    	//statusName: 'status', //数据状态的字段名称，默认：code
	        statusCode: 200, //成功的状态码，默认：0
	    	//msgName: 'msg', //状态信息的字段名称，默认：msg
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/collection/get_collections', //数据接口
	    page: true ,//开启分页
	    done: function(res, curr, count){
	    	$('#collectionCounts').html(count);
	    },
	    cols: [[ //表头
	      {field: 'articleId', title: '文章ID', width:100, sort: true, fixed: 'left'},
	      {field: 'title', title: '文章标题', width:500,templet:function(d){
	    	  return "<a target='_blank' href='$!{rc.contextPath}/article/"+d.articleId+"'>"+d.title+"</a>";
	      }},
	      {field: 'createTime', title: '收藏时间', width:200, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm:ss',new Date(d.createTime));
	      }},
	      {title:'操作',width:160,templet:function(row){
	    	  var detail='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>';
	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
	    	  return detail+t_delete;
	      }}
	    ]]
	  });		  
});
</script>
</body>
</html>