<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fly Template v3.0，基于 layui 的极简社区页面模版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="$!{rc.contextPath}/static/res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      
      <!-- 未登入的状态 -->
      #if(!${user})
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/register">注册</a>
      </li>
      #else
      
      <!-- 登入后的状态 -->
      <li class="layui-nav-item" style="margin-right:30px;">
    	<a href="$!{rc.contextPath}/user/admin?div=message"><i>消息<span class="layui-badge" id="messageCount">0</span></i></a>
  	  </li>
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" id="nickname">$!{user.nickname}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
          <img  src="#if(!$user.userPortrait) $!{rc.contextPath}/static/images/default_portrait.jpg #else ${user.userPortrait} #end">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="$!{rc.contextPath}/user/admin?div=set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="$!{rc.contextPath}/user/admin?div=message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="$!{rc.contextPath}/u/$!{user.userId}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="$!{rc.contextPath}/user/quit" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
      #end
    </ul>
  </div>
</div>

<div class="layui-hide-xs">
  <div class="fly-panel fly-column">
    <div class="layui-container">
      <ul class="layui-clear">
        <li class="layui-hide-xs"><a href="/">首页</a></li> 
        <li class="layui-this"><a href="">提问</a></li> 
        <li><a href="">分享<span class="layui-badge-dot"></span></a></li> 
        <li><a href="">讨论</a></li> 
        <li><a href="">建议</a></li> 
        <li><a href="">公告</a></li> 
        <li><a href="">动态</a></li> 
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
        
        <!-- 用户登入后显示 -->
        #if($user)
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="$!{rc.contextPath}/user/admin?div=my_articles">我发表的贴</a></li> 
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="$!{rc.contextPath}/user/admin?div=my_articles#collection">我收藏的贴</a></li> 
        #end
      </ul> 
      
      <div class="fly-column-right layui-hide-xs"> 
        <span class="fly-search"><i class="layui-icon"></i></span> 
        <a href="$!{rc.contextPath}/user/admin?div=addPage" class="layui-btn">发表新帖</a> 
      </div> 
      <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
        <a href="add.html" class="layui-btn">发表新帖</a> 
      </div> 
    </div>
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1>$!{article.title}</h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          #if($!article.status=='3')<span class="layui-badge layui-bg-green fly-detail-column">已发布</span> #end 
          #if($!article.status=='1')<span class="layui-badge" style="background-color: #999;">草稿</span> #end
          #if($!article.status=='0')<span class="layui-badge" style="background-color: #999;">审核未通过</span>#end
          #if($!article.status=='2')<span class="layui-badge layui-bg-black">审核中</span>#end
          #if($article.type==2)<span class="layui-badge layui-bg-red">系统消息</span>#end
          #if($article.stick>0)<span class="layui-badge layui-bg-black">置顶</span>#end
          #if($article.highQuality=='1')<span class="layui-badge layui-bg-red">精帖</span>#end
          
          #hasPermission('/user/article/set')
          <div class="fly-admin-box" data-id="$!{article.articleId}">
          	#if($article.status=='3')
            #if($article.stick==0)
            <span class="layui-btn layui-btn-xs jie-admin" type="set" stick="1">置顶</span> 
            #else
            <span class="layui-btn layui-btn-xs jie-admin grey" type="set" stick="0">取消置顶</span>
            #end
            #if($article.highQuality==0)
            <span class="layui-btn layui-btn-xs jie-admin" type="set" highquality="1">加精</span> 
            #else
            <span class="layui-btn layui-btn-xs jie-admin grey" type="set" highquality="0">取消加精</span>
            #end
            #end
          </div>
          #end
          
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i><span id="commentCount">$!{article.commentCount}</span></a>
            <i class="iconfont" title="阅读次数">&#xe60b;</i> <span id="viewCount">$!{viewCount}</span>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="$!{rc.contextPath}/u/$!{article.userId}">
            <img style="border-radius:50%;" src="$!{articleUser.userPortrait}" alt="$!{articleUser.nickname}">
          </a>
          <div class="fly-detail-user">
            <a href="$!{rc.contextPath}/u/$!{article.userId}" class="fly-link">
              <cite>$!{articleUser.nickname}</cite>
              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip">VIP3</i>
            </a>
            #if(${article.publishTime})
            <span>$!date.format('yyyy-MM-dd',${article.publishTime})</span>
            #else
            <span>$!date.format('yyyy-MM-dd',${article.createTime})</span>
            #end
          </div>
          
          #if($article.type==1)
          <div class="detail-hits" data-id="$!{article.articleId}"  id="#if($article.status==3)LAY_jieAdmin#end"  >
            <span style="padding-right: 10px; color: #FF7200">悬赏：60飞吻</span>  
          </div>
          #end
        </div>
        <div class="detail-body photos">
 			<p>$!{article.content}</p>
        </div>
      </div>
		
	  #if($article.type==1&&$article.status==3)	
      <div class="fly-panel detail-box" id="flyReply">
      	<a name="comment"></a>
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>
		
		<!-- 评论区 -->
        <ul class="jieda" id="jieda">
          
          <!-- 无数据时 -->
          <li class="fly-none" style="display:none">消灭零回复</li>
        </ul>
        
        <div class="layui-form layui-form-pane">
          <form action="" method="post">
            <div class="layui-form-item layui-form-text">
              
              <div class="layui-input-block">
                <textarea id="L_content" name="commentContent" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" value="$!{article.articleId}" name="articleId"/>
              <button class="layui-btn" lay-filter="comment" lay-submit>提交回复</button>
            </div>
          </form>
        </div>
      </div>
      #end
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one" id="hotList">
        <dt class="fly-panel-title">本周热议</dt>

        <!-- 无数据时 -->
        <div class="fly-none" id="hot-none">没有相关数据</div>
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-main">
          <a href="/" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">好好学习</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="$!{rc.contextPath}/static/images/wechat.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信赞助</p>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="/" target="_blank">好好学习社区</a> 2018 &copy; <a href="/" target="_blank">panzhigao.vip 出品</a>京ICP备18031226号</p>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face','jie','util'], function(){
  var fly=layui.fly;
  var util=layui.util;
	   util.fixbar({
	    bgcolor: '#009688'
	    ,click: function(type){
	      if(type === 'bar1'){
	        //layer.msg('打开 index.js，开启发表新帖的路径');
	        location.href = '/user/articleAdd';
	      }
	    }
  });
  var form = layui.form;
  var articleId='${article.articleId}';
  loadComments(articleId);
  getHotArticleList();
  
  #if(${user})
  websocketConnect();
  #end
  
  form.on('submit(comment)', function(data){
		params = data.field;
		content=params.commentContent;
		content = /^\{html\}/.test(content) ? content.replace(/^\{html\}/, ''):fly.content(content);
		params.commentContent=content;
		console.log(params);
		sendComment(params);
		return false;
   });
});

var userId="$!{user.userId}";
var articleUserId="$!{article.userId}";

function loadComments(articleId){
	$.ajax({
		url:"$!{rc.contextPath}/api/loadComments",
		type:"post",
		data:{articleId:articleId},
		success:function(result){
			if(result.code=='200'){
				var data=result.data;
				var length=data.length;
				if(length==0){
					$('.fly-none').show();
					return;
				}
				for(var i=0;i<length;i++){
					addComment(data[i]);
				}
			}else{
				layer.msg("加载评论失败");
			}
		}
	});
}

//提交
function sendComment(params){
		$.ajax({
			url:"$!{rc.contextPath}/api/user/comment",
			type:"post",
			data:params,
			success:function(result){
				if(result.code=='200'){
					$('.fly-none').hide();
					layer.msg(result.msg);
					addComment(result.data);	
					$('#L_content').val('');
					var count = $('#commentCount').html()|0;
					$('#commentCount').html(++count);
				}else{
					layer.msg(result.msg);
				}
			}
	});
}

function addComment(comment){
	var adminPart='<div class="jieda-admin">'+
	  '<span type="edit">编辑</span>'+
	  '<span type="del">删除</span>'+
	  '<span class="jieda-accept" type="accept">采纳</span>'+
	   '</div>';
	var isZan=comment.isChecked?'zanok':'';   
	var isMeArticle=comment.userId==articleUserId?'<span>(楼主)</span>':'';
	var commentPart = '<li data-id="'+comment.commentId+'">'+
    '<div class="detail-about detail-about-reply">'+
      '<a class="fly-avatar" href="$!{rc.contextPath}/u/'+comment.userId+'" target="_blank">'+
        '<img style="border-radius:50%;" src="'+comment.userPortrait+'" alt="'+comment.nickname+'">'+
      '</a>'+
      '<div class="fly-detail-user">'+
        '<a href="$!{rc.contextPath}/u/'+comment.userId+'" target="_blank" class="fly-link">'+
          '<cite>'+comment.nickname+'</cite>'+
        '</a>'+isMeArticle+
      '</div>'+
      '<div class="detail-hits">'+
        '<span>'+tranTime(comment.createTime)+'</span>'+
      '</div>'+
    '</div>'+
    '<div class="detail-body jieda-body photos">'+comment.commentContent+
    '</div>'+
    '<div class="jieda-reply">'+
	'<span class="jieda-zan '+isZan+'" type="zan">'+
	  '<i class="iconfont icon-zan"></i>'+
	  '<em>'+comment.praiseCounts+'</em>'+
	'</span>'+
	'<span type="reply">'+
	  '<i class="iconfont icon-svgmoban53"></i>'+
	 	 '回复'+
	'</span>';
	if(userId==comment.userId){
		commentPart+=adminPart;
	}
	commentPart+='</div></li>';  
	$('#jieda').prepend(commentPart);
}

function getHotArticleList(){
	$.ajax({
		url:'$!{rc.contextPath}/article/getPageData',
		type:'GET',
		data:{pageNo:1,pageSize:10,isHot:"1"},
		success:function(res){
			if(res.code=='200'){
				var articles=res.data;
				var length=articles.length;
				if(length>0){
					$('#hot-none').hide();
				}
				for(var i=0;i<length;i++){
					var article=articles[i];
					//精帖
					var temp='';
					if(article.highQuality=='1'){
						temp='<div class="fly-list-badge"> <span class="layui-badge layui-bg-red">精帖</span></div>';
					}
					var one='<dd>'+
			          '<a href="$!{rc.contextPath}/article/'+article.articleId+'">'+article.title+'</a>'+
			          '<span><i class="iconfont icon-pinglun1"></i> '+article.commentCount+'</span>'+
			          '</dd>';
			        $('#hotList').append(one);
				}	     
			}
		}
	})
}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274156186'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274156186%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>