<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>发表问题 编辑问题 公用</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="$!{systemConfig.keywords}">
  <meta name="description" content="$!{systemConfig.description}">
  <link rel="icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body>

<body class="childrenBody">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">编辑帖子</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="" method="post">
              <div class="layui-row layui-col-space15 layui-form-item">
<!--                 <div class="layui-col-md3"> -->
<!--                   <label class="layui-form-label">所在专栏</label> -->
<!--                   <div class="layui-input-block"> -->
<!--                     <select lay-verify="required" name="class" lay-filter="column">  -->
<!--                       <option></option>  -->
<!--                       <option value="0">提问</option>  -->
<!--                       <option value="99">分享</option>  -->
<!--                       <option value="100">讨论</option>  -->
<!--                       <option value="101">建议</option>  -->
<!--                       <option value="168">公告</option>  -->
<!--                       <option value="169">动态</option>  -->
<!--                     </select> -->
<!--                   </div> -->
<!--                 </div> -->
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" value="$!{article.title}" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                    <input type="hidden" name="id" value="$!{article.id}"> 
                  </div>
                </div>
              </div>
              <div class="layui-row layui-col-space15 layui-form-item layui-hide" id="LAY_quiz">
                <div class="layui-col-md3">
                  <label class="layui-form-label">所属产品</label>
                  <div class="layui-input-block">
                    <select name="project">
                      <option></option>
                      <option value="layui">layui</option>
                      <option value="独立版layer">独立版layer</option>
                      <option value="独立版layDate">独立版layDate</option>
                      <option value="LayIM">LayIM</option>
                      <option value="Fly社区模板">Fly社区模板</option>
                    </select>
                  </div>
                </div>
                <div class="layui-col-md3">
                  <label class="layui-form-label" for="L_version">版本号</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_version" value="" name="version" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-md6">
                  <label class="layui-form-label" for="L_browser">浏览器</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_browser"  value="" name="browser" placeholder="浏览器名称及版本，如：IE 11" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="L_content" name="content" required lay-verify="content" placeholder="详细描述"  style="height: 260px;">$!{article.content}</textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">悬赏飞吻</label>
                  <div class="layui-input-inline" style="width: 190px;">
                    <select name="experience">
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="80">80</option>
                    </select>
                  </div>
                  <div class="layui-form-mid layui-word-aux">发表后无法更改飞吻</div>
                </div>
              </div>
              #hasPermission("/user/article/doEdit")
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="editPublish" lay-submit>修改发布</button>
                <button class="layui-btn" lay-filter="editSave" lay-submit>保存草稿</button>
                <button class="layui-btn" type="button" onclick="history.go(-1)">返回</button>
              </div>
              #end
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script type="text/javascript" src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

layui.use(['form','layedit'], function(){
	  var layedit = layui.layedit;
	  layedit.set({
		  uploadImage: {
		    url: '$!{rc.contextPath}/file/upload' //接口url
		    ,type: 'post' //默认post
		  }
	   });
	  var index=layedit.build('L_content'); //建立编辑器
	  var form = layui.form;
	  form.verify({
		  username: function(value, item){ //value：表单的值、item：表单的DOM对象
		    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
		      return '用户名不能有特殊字符';
		    }
		    if(/(^\_)|(\__)|(\_+$)/.test(value)){
		      return '用户名首尾不能出现下划线\'_\'';
		    }
		    if(/^\d+\d+\d$/.test(value)){
		      return '用户名不能全为数字';
		    }
		  },
		  //我们既支持上述函数式的方式，也支持下述数组的形式
		  //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
		  pass: [
		    /^[\S]{6,12}$/
		    ,'密码必须6到12位，且不能出现空格'
		  ] ,
		  content:function(){
			  layedit.sync(index);
			  var t_content=layedit.getContent(index);
			  if(!t_content){
				  return '文章内容不能为空';
			  }
		  }
		});   
		form.on('submit(editPublish)', function(data){
			params = data.field;
			params.status=2;
			publish(params,2);
			return false;
		});
		form.on('submit(editSave)', function(data){
			params = data.field;
			params.status=1;
			publish(params,1);
			return false;
		});
});


//提交
function publish(params,status){
		$.ajax({
			url:"$!{rc.contextPath}/user/article/doEdit",
			type:"post",
			data:params,
			beforeSend:function(){
				$('.layui-btn').addClass('layui-btn-disabled');
				$('.layui-btn').attr("disabled", true);
			},
			success:function(data){
				if(data.code=='200'){
					layer.msg(data.msg);
					setTimeout(function(){
						//跳转我的文章列表页
						location.href='$!{rc.contextPath}/user/article/mine';
					},1000);
				}else{
					layer.msg(data.msg);
					$('.layui-btn').remove('layui-btn-disabled');
					$('.layui-btn').removeAttr("disabled");
				}
			},
			error:function(){
				layer.msg('保存文章失败');
				$('.layui-btn').remove('layui-btn-disabled');
				$('.layui-btn').removeAttr("disabled");
			}
	});
}	
</script>
#parse("./html/common/common.html")
</body>
</html>