<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/css/bootstrap.css" >
  <script type="text/javascript" src="$!{rc.contextPath}/static/js/jquery.js"></script>
  <script type="text/javascript" src="$!{rc.contextPath}/static/js/bootstrap.min.js"></script>
</head>
<body class="childrenBody">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">用户管理</li>
      </ul>
      
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">
	      <div class="layui-tab-item layui-show">
		         用户账号：
	    	<div class="layui-inline">
	    		<input placeholder="请输入用户账号" class="layui-input" name="userName" id="userNameInput" autocomplete="off">
	    	</div>
	    
	    	<button class="layui-btn" data-type="reload" id="search">搜索</button>
	    	
	    	<table id="userListTab" lay-filter="myTable"></table>
	     </div>
      </div>
    </div>
  </div>

<!-- 模态框-权限树 -->
<div  class="modal fade" style="margin-top:100px" id="myTree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <input type="hidden" id="selectedUserId"/>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">分配角色</h4>
            </div>
                                    
            <form class="layui-form">
      	  		<div id="xtree3" style="margin:auto;width:400px;padding: 10px 0 25px 5px;"></div>
			</form>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script src="$!{rc.contextPath}/static/res/layui-xtree/layui-xtree.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

var xtree3;
//table
layui.use(['table','jquery','form'], function(){
	  var table = layui.table;
	  var $ = layui.$ ;
	  var form=layui.form;
	  var active = {
			    reload: function(){
			        var userNameInput = $('#userNameInput');
			        //执行重载
			        table.reload('userTab', {
			          page: {
			            curr: 1 //重新从第 1 页开始
			          }
			          ,where: {
			        	  username: userNameInput.val(),
			          }
			        });
			      }
			    };
	  //监听工具条
	  table.on('tool(myTable)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'allocate'){
	    	$('#selectedUserId').val(data.userId);
	    	$('#myTree').modal('show');
	    	xtree3._options.params={userId:data.userId};
	    	xtree3.render();
	    }  
	  });
	  
	  form.on('switch(userStatus)', function(data){
		  var userId=$(data.elem).attr('userid');
		  var new_status =this.checked ? '1' : '0';
		  var tipText = '确定封禁该用户？';
          if(data.elem.checked){
              tipText = '确定解封该用户？'
          }
          layer.confirm(tipText,{
              icon: 3,
              title:'系统提示',
              cancel : function(index){
                  data.elem.checked = !data.elem.checked;
                  form.render();
                  layer.close(index);
              }
          },function(index){//确认
    		  $.ajax({
    			  url:'$!{rc.contextPath}/user/manage/changeStatus',
    			  data:{userId:userId,status:new_status},
    			  dataType:'json',
    			  type:'post',
    			  success:function(res){
    				  if(res.code=='200'){
    					  layer.alert(res.msg);
    				  }else{
    					  data.elem.checked = !data.elem.checked;
    		              form.render();
    					  layer.alert(res.msg);
    				  }
    				  layer.close(index);
    			  }
    		  });
          
          },function(index){//取消
              data.elem.checked = !data.elem.checked;
              form.render();
              layer.close(index);
          });
	  }); 
	  
	  //第一个实例
	  table.render({
		id: 'userTab',  
	    method: 'post',  
	    elem: '#userListTab',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize' //每页数据量的参数名，默认：limit
	    },
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/userList', //数据接口
	    page: true ,//开启分页
	    cols: [[ //表头
	      {field: 'username', title: '用户账号', width:100, fixed: 'left',templet:function(d){
	    	  return '<a href="/u/'+d.userId+'" target="_blank">'+d.username+'</a>';
	      }},
	      {field: 'nickname', title: '用户昵称', width:100, fixed: 'left',templet:function(d){
	    	  return d.nickname;
	      }},
	      {field: 'sex', title: '用户性别', width:100, fixed: 'left',templet:function(d){
	    	  var sex='未知';
	    	  if(d.sex==1){
	    		  sex='男';
	    	  }else if(d.sex==2){
	    		  sex='女';
	    	  }
	    	  return sex;
	      }},
	      {field: 'userPortrait', title: '用户头像', width:150,templet:function(d){
	    	  return '<img style="display: inline-block; width: 50%; height: 100%;" src="'+d.userPortrait+'">';
	      }},
	      {field: 'status', title: '状态', width:100,templet:
	    	  function(d){
	    	  	  var p='#hasPermission("/user/manage/changeStatus") 1 #end';
		    	  var temp='';
		    	  if(d.status=='1'){
		    		  var temp='checked';
		    		  if(!p){
		    			  temp+='  disabled';
		    		  }
		    	  }
		    	  var s='<input value="1" userid="'+d.userId+'" lay-filter="userStatus" type="checkbox" name="status" lay-skin="switch" lay-text="正常|禁用" '+temp+'>';
		    	  return s;
	      	  }
	       },
	      {field: 'createTime', title: '创建时间', width:160, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm',new Date(d.createTime));
	      }},
	      {field: 'lastLoginTime', title: '最近登录时间', width:160, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm',new Date(d.lastLoginTime));
	      }},
	      {field: 'roleNames', title: '拥有角色', width:200},
	      {title:'操作',width:160,templet:function(row){
	    	  var p_allocate='#hasPermission("/user/role/allocateRole") 1 #end';
	    	  var allocate='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="allocate" >分配角色</a>';
	    	  var show='';
	    	  if(p_allocate){
	    		  show+=allocate;
	    	  }
	    	  return show;
	      }}
	    ]]
	  });
	  
	  $('#search').on('click', function(){
		   var type = $(this).data('type');
		   active[type] ? active[type].call(this) : '';
	  });
	  	  	    		  	  
	  var form = layui.form;
	  xtree3= new layuiXtree({
          elem: 'xtree3'                  
          ,params:null
          ,method: 'post'
          , form: form                    
          , data: '$!{rc.contextPath}/user/role/getRoleTree' 
          , isopen: true  //加载完毕后的展开状态，默认值：true
          , ckall: true    //启用全选功能，默认值：false
          , ckallback: function () { } //全选框状态改变后执行的回调函数
          , icon: {        //三种图标样式，更改几个都可以，用的是layui的图标
              open: "&#xe7a0;"       //节点打开的图标
              , close: "&#xe622;"    //节点关闭的图标
              , end: "&#xe621;"      //末尾节点的图标
          }
          , color: {       //三种图标颜色，独立配色，更改几个都可以
              open: "#EE9A00"        //节点图标打开的颜色
              , close: "#EEC591"     //节点图标关闭的颜色
              , end: "#828282"       //末级节点图标的颜色
          }
          , click: function (data) {  //节点选中状态改变事件监听，全选框有自己的监听事件
             
          }
      });
	  
	  $('#btnSave').click(function(){
		  var selectedUserId=$('#selectedUserId').val();
		  if(!selectedUserId){
			  layer.alert('未选择角色');
			  return;
		  }
		  var oCks = xtree3.GetAllChecked(); //这是方法
		  var arr=[];
          for (var i = 0; i < oCks.length; i++) {
        	  if(oCks[i].value=='on'){
        		  continue;
        	  }
              arr.push(oCks[i].value);
          }
          var roles = JSON.stringify(arr);
          console.log(roles);
          $.ajax({
        	  url:'$!{rc.contextPath}/user/role/allocateRole',
        	  data:{userId:selectedUserId,roles:arr},
        	  dataType:'json',
        	  type:'post',
        	  success:function(res){
        		  if(res.code=='200'){
	    				layer.alert(res.msg);
	    				$('#myTree').modal('hide');
	    				active.reload();
	    			}else{	    				
	    				layer.alert(res.msg);
	    			}
        	  }
          });
	  });
});
</script>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274156186'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274156186' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>