<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>文章审核</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="好好学习社区">
  <meta name="description" content="好好学习社区，致力于为web学习交流">
  <link rel="icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body class="childrenBody">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
    
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="notComplete" lay-id="index" class="layui-this" >待审核的帖（<span id='notCompleteCount'></span>）</li>
        <li data-type="complete" lay-id="index" >已审核的帖（<span id='completeCount'></span>）</li>
      </ul>
      
      <div class="layui-tab-content" style="padding:0px;">
	    <div class="layui-tab-item layui-show">
	    	<table id="table1" lay-filter="tab1"></table>
	    </div>
	    <div class="layui-tab-item">
          <table id="table2" lay-filter="tab2"></table>
        </div>
      </div>
    </div>
  </div>
<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

//table
layui.use(['table','jquery'], function(){
	  var table = layui.table;
	  var $ = layui.$ ;
	  //监听工具条
	  table.on('tool(tab1)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'detail'){
	      view(data.id);
	    } else if(obj.event === 'notPass'){
    	  layer.prompt({title: '请输入审核拒绝原因，并确认', formType: 2}, function(reason, index){
    		  if(!reason || !reason.trim()){
    			  layer.alert('请输入审核拒绝原因');
    			  return;
    		  }
    		  layer.close(index);
    		  $.ajax({
  	    		url:"$!{rc.contextPath}/user/check/notPass",
  	    		type:"post",
  	    		data:{id:data.id,reason:reason},
  	    		success:function(res){
  	    			if(res.code=='200'){
  	    				layer.alert(res.msg);
  	    				table.reload('notCompleteTab');
  	    			}else{	    				
  	    				layer.alert(res.msg);
  	    			}
  	    		}
  	    	});
    	  });
	    }else if(obj.event === 'pass'){
	    	layer.confirm('确定通过该文章么?', function(index){
	    		layer.close(index);
	    		$.ajax({
	    			url:'$!{rc.contextPath}/user/check/pass',
	    			data:{id:data.id},
	    			type:'post',
	    			success:function(res){
	    				if(res.code=='200'){
	    					layer.msg(res.msg);
	    					table.reload('notCompleteTab');
	    				}else{
	    					layer.msg(res.msg);
	    				}
	    			}
	    		});
	    	});
	    }
	  });
	  
	  //监听工具条
	  table.on('tool(tab2)', function(obj){
		  var data = obj.data;
		  if(obj.event === 'detail'){
			  view(data.id);
		  }
	  });
	  
	  //第一个实例
	  table.render({
		id: 'notCompleteTab',  
	    method: 'post',  
	    elem: '#table1',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize', //每页数据量的参数名，默认：limit
	    },
	    where: {completeFlag:'0'},
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/check/getPageData', //数据接口
	    page: true ,//开启分页
	    done: function(res, curr, count){
	    	$('#notCompleteCount').html(count);
	    },
	    cols: [[ //表头
	      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
	      {field: 'username', title: '用户名', width:120, sort: true, fixed: 'left',templet:function(d){
	    	  return '<a target="_blank" href="/u/'+d.userId+'">'+d.nickname+'</a>';
	      }},
	      {field: 'articleId', title: '文章ID', width:100, sort: true, fixed: 'left'},
	      {field: 'title', title: '文章标题', width:400,templet:function(d){
	    	  return "<a target='_blank' href='$!{rc.contextPath}/article/"+d.articleId+"'>"+d.title+"</a>";
	      }},
	      {field: 'checkType', title: '审核类型', width:100, sort: true,templet:
	    	  function(d){
	    	  	switch(d.checkType){
		    	  	case '0':temp='创建';break;
		    	  	case '1':temp='修改';break;
		    	  	default:temp="无状态";
	    	  	}
	    	  	return temp;
	      	  }
	       },
	      {field: 'createTime', title: '创建时间', width:150, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm',new Date(d.createTime));
	      }},
	      {title:'操作',width:260,templet:function(row){
	    	  var detail='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>';
	    	  if(row.completeFlag=='1'){
	    		  return detail;
	    	  }
	    	  var edit='<a class="layui-btn layui-btn-xs" lay-event="pass">通过</a>';
	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="notPass">拒绝</a>';
	    	  return detail+edit+t_delete;
	      }}
	    ]]
	  });
	  
	  
	  //第二个实例
	  table.render({
		id: 'completeTab',  
	    method: 'post',  
	    elem: '#table2',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize', //每页数据量的参数名，默认：limit
	    },
	    where: {completeFlag:'1'},
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/check/getPageData', //数据接口
	    page: true ,//开启分页
	    done: function(res, curr, count){
	    	$('#completeCount').html(count);
	    },
	    cols: [[ //表头
	      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
	      {field: 'username', title: '用户名', width:100, sort: true, fixed: 'left',templet:function(d){
	    	  return '<a target="_blank" href="/u/'+d.userId+'">'+d.nickname+'</a>';
	      }},
	      {field: 'articleId', title: '文章ID', width:100, sort: true},
	      {field: 'title', title: '文章标题', width:200,templet:function(d){
	    	  return "<a target='_blank' href='$!{rc.contextPath}/article/"+d.articleId+"'>"+d.title+"</a>";
	      }},
	      {field: 'checkType', title: '审核类型', width:100, sort: true,templet:
	    	  function(d){
	    	  	switch(d.checkType){
		    	  	case 0:temp='创建';break;
		    	  	case 1:temp='修改';break;
		    	  	default:temp="无状态";
	    	  	}
	    	  	return temp;
	      	  }
	       },
	      {field: 'createTime', title: '创建时间', width:150, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm',new Date(d.createTime));
	      }},
	      {field: 'checkTime', title: '审核时间', width:150, sort: true,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm',new Date(d.checkTime));
	      }},
	      {field: 'checkUsername', title: '审核人', width:100,templet:function(d){
	    	  return d.checkUsername;
	      }},
	      {field: 'approveFlag', title: '是否通过', width:100, sort: true,templet:
	    	  function(d){
	    	  	switch(d.approveFlag){
		    	  	case 0:temp='未通过';break;
		    	  	case 1:temp='通过';break;
	    	  	}
	    	  	return temp;
	      	  }
	       },
	      {field: 'remark', title: '审核备注', width:100},
	      {title:'操作',width:100,templet:function(row){
	    	  var detail='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>';
	    	  if(row.completeFlag=='1'){
	    		  return detail;
	    	  }
	    	  var edit='<a class="layui-btn layui-btn-xs" lay-event="pass">通过</a>';
	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="notPass">未通过</a>';
	    	  return detail+edit+t_delete;
	      }}
	    ]]
	  });
});

function view(id){
var index=layer.open({
	type: 2,
	title: '查看',
	content: '/user/check/detail?id='+id,
	btn: ['关闭'],
	maxmin: true,
	shade: false,
	offset: ['50px', '20%'],
	area: ['800px', '400px']
})		
}
</script>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274156186'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274156186' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>