<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="我的学习" />
<link href="static/css/login.css" rel='stylesheet' type='text/css' />
<link href="static/frame/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="static/frame/bootstrapValidator/bootstrapValidator.css" rel='stylesheet' type='text/css' />
<script src="static/js/jquery.js"></script>
<script src="static/frame/bootstrap/js/bootstrap.js"></script>
<script src="static/frame/bootstrapValidator/bootstrapValidator.js"></script>
<script src="static/js/login.js"></script>
</head>
<body>
	<!--SIGN UP-->
	<h1>登陆页面</h1>
	<div class="login-form">
		<div class=""></div>
		<div class="head-info">
			<label class="lbl-1"></label>
			<label class="lbl-2"></label>
			<label class="lbl-3"></label>
		</div>
		<div class="clear"></div>
		<div class="avtar">
			<img src="static/images/avtar.png" />
		</div>
		<form id="loginForm">
			<div class="form-group">
				<input type="text" class="text" name="username" placeholder="请输入用户名">
			</div>	
			<div class="form-group">
				<div class="key">
					<input type="password" name="password" placeholder="请输入密码">
				</div>
			</div>
			<div class="form-group">
				<a class="modal-open" href="register">注册请点击</a>
			</div>
		</form>
		<div class="signin">
			<input type="submit" value="Login" id="doLogin">
		</div>
	</div>
	<div class="copy-rights">
		<p>
			Copyright &copy; 2017.Company name All rights reserved.More Templates
			<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
			- Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</p>
	</div>
</body>
</html>