<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body style="margin-top: 65px;">

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="$!{rc.contextPath}/static/res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="$!{rc.contextPath}/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 未登入的状态 -->
      #if(!${user})
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/register">注册</a>
      </li>
      
      <!-- 登入后的状态 -->
      #else
      <li class="layui-nav-item" style="margin-right:30px;">
    	<a href="$!{rc.contextPath}/user/admin?div=message"><i>消息<span class="layui-badge" id="messageCount">0</span></i></a>
  	  </li>
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="$!{rc.contextPath}/u/$!{user.userId}">
          <cite class="layui-hide-xs">$!{user.nickname}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs"></i>
          #if($user.adminFlag=='1')<i class="layui-badge fly-badge-vip layui-bg-green">管理员</i>#end
          <img src="#if(!$user.userPortrait) $!{rc.contextPath}/static/images/default_portrait.jpg #else ${user.userPortrait} #end">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="$!{rc.contextPath}/user/admin?div=set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="$!{rc.contextPath}/user/admin?div=message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="$!{rc.contextPath}/u/$!{user.userId}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="$!{rc.contextPath}/user/quit" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
      #end
    </ul>
  </div>
</div>

<div class="fly-home fly-panel" style="background-image: url();">
  <img src="#if(!$u.userPortrait) $!{rc.contextPath}/static/images/default_portrait.jpg #else ${u.userPortrait} #end" alt="默认头像">
  <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
  <h1>
    $!{u.nickname}
    <i class="iconfont #if($u.sex==1) icon-nan #elseif($u.sex==2) icon-nv #end"></i>
    #if($u.adminFlag=='1')<i class="layui-badge fly-badge-vip layui-bg-green">管理员</i>#end
  </h1>

  <p style="padding: 10px 0; color: #5FB878;"></p>

  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="积分"></i><span style="color: #FF7200;">$!uExtension.score 积分</span>
    <i class="iconfont icon-shijian"></i><span>$!date.format('yyyy-MM-dd',$!u.createTime) 加入</span>
    #if($!u.address)<i class="iconfont icon-chengshi"></i><span>来自$!u.address</span>#end
  </p>

  <p class="fly-home-sign">#if($!{uExtension.userBrief}) $!{uExtension.userBrief} #else 暂无简介 #end</p>

</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title"> $!{u.nickname} 最近的文章</h3>
        <ul class="jie-row">
          <div id="article-none" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何文章</i></div>
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title"> $!{u.nickname} 最近的回答</h3>
        <ul class="home-jieda">
          <div id="comment-none" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="/" target="_blank">好好学习社区 </a> 2018 &copy; <a href="/" target="_blank">panzhigao.vip 出品</a>京ICP备18031226号</p>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
var pageNo=1;
var pageSize=10;
var userId='$!{u.userId}';
var fly;
layui.use(['fly','laypage', 'layer','jquery'], function(){
	fly=layui.fly;
	getData();
	loadUserComment();
	#if(${user})
	websocketConnect();
	#end
})


function getData(){
	$.ajax({
		url:'$!{rc.contextPath}/article/getPageData',
		type:'get',
		data:{pageNo:pageNo,pageSize:pageSize,userId:userId},
		success:function(res){
			var length=res.data.length;
			if(length>0){
				$('#article-none').hide();
			}
			for(var i=0;i<length;i++){
				var one=res.data[i];
				var jing='';
				if(one.highQuality==1){
					jing='<span class="fly-jing">精</span>';
				}
				var info='<li>'+jing+
	            '<a style="max-width: 60%;" target="_blank" href="$!{rc.contextPath}/article/'+one.articleId+'" class="jie-title">'+one.title+'</a>'+
	            '<i>'+tranTime(one.createTime,'yyyy-MM-dd')+'</i>'+
	            '<em class="layui-hide-xs">'+one.viewCount+'阅/'+one.commentCount+'评论</em>'+
	          '</li>';
				$('.jie-row').append(info);
			}
		}
	});
}

function loadUserComment(){
	$.ajax({
		url:'$!{rc.contextPath}/api/u/loadUserComment',
		type:'POST',
		data:{userId:userId},
		success:function(res){
			var length=res.data.length;
			if(length>0){
				$('#comment-none').hide();
			}
			for(var i=0;i<length;i++){
				var one=res.data[i];
				var commentContent=one.commentContent;
				var info='<li>'+
		          '<p>'+
		          '<span>'+tranTime(one.createTime)+'</span>'+
		          '在<a href="$!{rc.contextPath}/article/'+one.articleId+'" target="_blank">'+one.title+'</a>中回答：'+
		          '</p>'+
		          '<div class="home-dacontent">'+
		          commentContent+
		          '</div>'+
		          '</li>';
				$('.home-jieda').append(info);
			}
		}
	});
}
</script>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274156186'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274156186' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>