<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="$!{rc.contextPath}">
      <img src="$!{rc.contextPath}/static/res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="$!{rc.contextPath}"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 登入后的状态 -->
      <li class="layui-nav-item" style="margin-right:30px;">
    	<a href="$!{rc.contextPath}/user/message"><i>消息<span class="layui-badge" id="messageCount">0</span></i></a>
  	  </li>
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">$!{user.nickname}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
          <img src="#if(!$user.userPortrait) $!{rc.contextPath}/static/images/default_portrait.jpg #else ${user.userPortrait} #end">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="$!{rc.contextPath}/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="$!{rc.contextPath}/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="$!{rc.contextPath}/u/${user.userId}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="home.html">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/my_articles">
        <i class="layui-icon">&#xe621;</i>
        我的文章
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="$!{rc.contextPath}/user/message">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/check">
        <i class="layui-icon">&#xe612;</i>
       审核文章
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/systemMessage">
        <i class="layui-icon">&#xe63a;</i>
        发送消息
      </a>
    </li>
    <li class="layui-nav-item">
        <a class="" href="javascript:;"><i class="layui-icon">&#xe63c;</i>权限管理</a>
        <dl class="layui-nav-child">
            <dd><a href="$!{rc.contextPath}/user/permission" style="padding-left:55px;">权限列表</a></dd>
            <dd><a href="javascript:;" style="padding-left:55px;">角色管理</a></dd>
            <dd><a href="javascript:;" style="padding-left:55px;">角色分配</a></dd>
        </dl>
     </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">全部标为已读</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <div class="fly-none" style="display:none;">您暂时没有最新消息</div>
        <ul class="mine-msg">
        </ul>
      </div>
	  </div>
	</div>

</div>


<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划${aa}</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script src="$!{rc.contextPath}/static/js/jquery.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use(['fly'],function(){
	var $ = layui.$;
	loadMessages($);
	
	#if(${user})
	websocketConnect();
	#end
});

function loadMessages($){
	$.ajax({
		url:"$!{rc.contextPath}/user/message/load",
		type:"post",
		success:function(result){
			if(result.code=='200'){
				var data=result.data;
				var length=data.length;
				if(length==0){
					$('.fly-none').show();
					return;
				}
				for(var i=0;i<length;i++){
					var tag='';
					var message=data[i];
					//未读
					if(message.status==0){
						tag='<a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">标为已读</a><a class="readed" style="float:right;color:#c2c2c2;display:none;">已读</a></p>';
					}else{
						tag='<a class="readed" style="float:right;color:#c2c2c2;">已读</a>';
					}
					var one='';
					if(message.messageType=='1'){
					   one='<li data-messageid="'+message.messageId+'">'+
			            '<blockquote class="layui-elem-quote">'+
			              '<a href="$!{rc.contextPath}/u/'+message.senderUserId+'" target="_blank"><cite>'+message.senderName+'</cite></a>评论了您的文章<a target="_blank" href="$!{rc.contextPath}/article/'+message.contentId+'"><cite>'+message.contentName+'</cite></a>'+
			              '<cite style="color:black;">['+message.commentContent+']</cite>'+
			            '</blockquote>'+
			            '<p><span>'+tranTime(message.createTime)+'</span>'+tag+'</p>'+
			            '</li>';
					}else if(message.messageType=='2'){
						one='<li data-messageid="'+message.messageId+'">'+
			            '<blockquote class="layui-elem-quote">'+
			              '您发表的文章<a target="_blank" href="$!{rc.contextPath}/article/'+message.contentId+'"><cite>'+message.contentName+'</cite></a>因'+
			              message.commentContent+
			            '未通过审核</blockquote>'+
			            '<p><span>'+tranTime(message.createTime)+'</span>'+tag+'</p>'+
			            '</li>';
					}
					$('.mine-msg').append(one);
				}
				if($('.fly-delete').length==0){
					$('#LAY_delallmsg').remove();
				}
			}else{
				layer.msg("加载消息失败");
			}
		}
	});
}
</script>
</body>
</html>