<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
  <script src="$!{rc.contextPath}/static/js/jquery.js"></script>
  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.selected {color:#5FB878 !important;}
  </style>
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="$!{rc.contextPath}">
      <img src="$!{rc.contextPath}/static/res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="$!{rc.contextPath}"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 登入后的状态 -->
       <li class="layui-nav-item" style="margin-right:30px;">
    	<a href="$!{rc.contextPath}/user/message"><i>消息<span class="layui-badge" id="messageCount">0</span></i></a>
  	  </li>
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">$!{user.nickname}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
          <img src="#if(!$user.userPortrait) $!{rc.contextPath}/static/images/default_portrait.jpg #else ${user.userPortrait} #end">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="$!{rc.contextPath}/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="$!{rc.contextPath}/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="$!{rc.contextPath}/u/$!{user.userId}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/u/$!{user.userId}">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/my_articles">
        <i class="layui-icon">&#xe621;</i>
        我的文章
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/message">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/check">
        <i class="layui-icon">&#xe612;</i>
       审核文章
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="$!{rc.contextPath}/user/systemMessage">
        <i class="layui-icon">&#xe63a;</i>
        发送消息
      </a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;"><i class="layui-icon">&#xe63c;</i>权限管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" class="layui-this" style="padding-left:55px;">权限列表</a></dd>
            <dd><a href="$!{rc.contextPath}/user/role" style="padding-left:55px;">角色管理</a></dd>
            <dd><a href="javascript:;" style="padding-left:55px;">角色分配</a></dd>
          </dl>
     </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user"> 	
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">
	    
	    <div class="layui-btn-group">
	     	<button class="layui-btn" id="add" data-toggle="modal" data-target="#myModal"><i class="layui-icon">&#xe608;</i> 增加</button>
  		</div>
  		
	    </div>
	    
      	<table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<!-- 模态框（Modal） -->
<div  class="modal fade" style="margin-top:100px" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="selectPId"/>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加权限</h4>
            </div>
            <div class="modal-body">
            	<div class="layui-form-item">
    				
    				<div class="">
    				    <h4> 权限名称:</h4>
      					<input type="text" id="permissionName" name="permissionName"  placeholder="请输入权限名称" autocomplete="off" class="layui-input">
    				</div>
    				<div class="">
    				    <h4> 权限URL地址:</h4>
      					<input type="text" id="url" name="url"  placeholder="请输入权限URL地址" autocomplete="off" class="layui-input">
    				</div>
    				
  				</div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addPermission">新增</button>
            </div>
            
        </div>
    </div>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');



var treeTable;
//table
layui.use(['table','jquery','treeGrid'], function(){
	  $('#add').click(function(){
		  $('#selectPId').val('');
	  });
	  var treeGrid = layui.treeGrid; 
	  var table=layui.table;
	  $('#addPermission').click(function(){
		 var permissionName=$('#permissionName').val();
		 if(!permissionName){
			 layer.msg('权限名称不能为空');
			 return;
		 }
		 var url=$('#url').val();
		 if(!url){
			 layer.msg('权限url地址不能为空');
			 return;
		 }
		 $.ajax({
			 url:'$!{rc.contextPath}/user/permission/add',
			 type:'post',
			 data:{permissionName:permissionName,url:url,pId:$('#selectPId').val()},
			 success:function(res){
				 if(res.code=='200'){
					 layer.msg('新增权限成功');
					 $('#permissionName').val("");
					 $('#url').val("");
					 $('#myModal').modal('hide');
					 treeTable.reload();
				 }else{
					 layer.msg(res.msg);
				 }
			 }
		 }); 
	  });
	  
	      
	  //消息读取
	  #if(${user})
	  websocketConnect();
	  #end
	  
	  treeTable =treeGrid.render({
		  id: 'tab', 
          elem: '#treeTable',
          url:'$!{rc.contextPath}/user/permission/get_permissions',
          cellMinWidth: 100,
          alias: 'changyong',
          treeId:'id',//树形id字段名称
          treeUpId:'pId',//树形父id字段名称
          treeShowName:'name',//以树形式显示的字段
          method: 'post',
          cols: [[
              {field:'id', width:'100', title: 'id'},
              {field:'name', edit:'text',width:'100', title: '权限名'},
              {field:'url', edit:'text',width:'300', title: '权限url'},
              {field:'pId', width:'100', title: 'pId'},
              {field:'ids',width:'250', title: '编辑',templet:function(row){
            	  var add='<a class="layui-btn layui-btn-normal layui-btn-xs" onclick="addSub(\''+row.id+'\')">新增子权限</a>';
    	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" onclick="deleteNode(\''+row.id+'\')">删除</a>';
    	    	  return t_delete+add;
    	      }}
          ]],
          page:false
      });  
});

function deleteNode(id){
	 $.ajax({
		 url:'$!{rc.contextPath}/user/permission/delete',
		 type:'post',
		 data:{permissionId:id},
		 success:function(res){
			 if(res.code=='200'){
				 layer.msg('删除权限成功');
				 treeTable.reload();
			 }else{
				 layer.msg(res.msg);
			 }
		 }
	 }); 
	
}

function addSub(pId){
	$('#selectPId').val(pId);
	$('#myModal').modal('show');
}
</script>
</body>
</html>