<div style="margin: 15px;">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">权限名</label>
			<div class="layui-input-block">
				<input lay-verify="required" type="text" name="permissionName" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" id="urlDiv">
			<label class="layui-form-label">权限url</label>
			<div class="layui-input-block">
				<input type="text" name="url" id="url" placeholder="请输入权限url" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">类型</label>
			<div class="layui-input-block">
				<input type="radio" name="type" value="0" title="菜单" lay-filter="type" >
				<input type="radio" name="type" value="1" title="链接" lay-filter="type" checked>
			</div>
		</div>
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>