<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
  <script src="$!{rc.contextPath}/static/js/jquery.js"></script>
</head>
<body class="childrenBody" style="height:2500px;">

  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user"> 	
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">
		    <div class="layui-btn-group">
 
		    	
		     	<button class="layui-btn" id="btnAdd"><i class="layui-icon">&#xe608;</i> 新增权限</button>
				
				
	  		</div>
	    </div>
      	<table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
      </div>
    </div>
  </div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

var treeTable;
//table
layui.use(['table','jquery','treeGrid','form'], function(){
	  var form=layui.form;
	  var treeGrid = layui.treeGrid; 
	  var table=layui.table;
	  var layerTips = parent.layer === undefined ? layui.layer : parent.layer; //获取父窗口的layer对象
	  $('#add').click(function(){
		  $('#selectPId').val('');
	  });
	  
 
	  treeTable =treeGrid.render({
		  id: 'tab', 
          elem: '#treeTable',
          url:'$!{rc.contextPath}/user/permission/getData',
          cellMinWidth: 100,
          treeId:'id',//树形id字段名称
          treeUpId:'pId',//树形父id字段名称
          treeShowName:'name',//以树形式显示的字段
          method: 'post',
          cols: [[
			  {field:'icon',width:'80', title: '图标',templet:function(row){
				var temp=row.level*10;
				var css='padding-left:'+temp+'px;';
				return '<i class="layui-icon" style='+css+'>'+row.icon+'</i>';
			  }},
              {field:'id', width:'100', title: 'id'},
              {field:'name',width:'160', title: '权限名'},
              {field:'url',width:'220', title: '权限url'},
              {field:'type', width:'80', title: '类型',templet:function(row){
            	  var show='';
            	  switch(row.type){
	            	  case '0':show='菜单';break;
	            	  case '1':show='链接';break;
	            	  case '2':show='按钮';break;
	            	  default :break;
            	  }
            	  return show;
    	      }},
              {field:'sort', width:'80', title: '排序'},
              {field:'pId', width:'100', title: 'pId'},
              {field:'ids',width:'250', title: '编辑',templet:function(row){
            	  var p_edit='#hasPermission("/user/permission/doEdit") 1 #end';
            	  var p_add='#hasPermission("/user/permission/doAdd") 1 #end';
            	  var p_delete='#hasPermission("/user/permission/doDelete") 1 #end';
            	  
            	  var edit='<a class="layui-btn layui-btn-xs" onclick="edit(\''+row.id+'\')">编辑</a>';
            	  var add='<a class="layui-btn layui-btn-normal layui-btn-xs" onclick="addSub(\''+row.id+'\')">新增子权限</a>';
    	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" onclick="deleteNode(\''+row.id+'\')">删除</a>';
    	    	  var show='';
    	    	  if(p_edit){
    	    		  show+=edit;
    	    	  }
    	    	  if(p_add){
    	    		  show+=add;
    	    	  }
    	    	  if(p_delete){
    	    		  show+=t_delete;
    	    	  }
    	    	  return show;
    	      }}
          ]],
          page:false
      });
	  
	  
	  $('#btnAdd').on('click', function() {
		  showTab('添加权限',null,1);
	  });
	  
});

function showTab(title,pId,level){
	$.get('$!{rc.contextPath}/user/permission/addPage', null, function(form) {
	if(form.code=='400'){
		layer.msg(form.msg);
		return;
	}	
	var index=layer.open({
			type: 1,
			title: title,
			content: form,
			btn: ['保存', '取消'],
			shade: false,
			maxmin: true,
			offset: ['50px', '20%'],
			area: ['800px', '400px'],
		yes: function(index) {
			//触发表单的提交事件
			$('form.layui-form').find('button[lay-filter=edit]').click();
		},
		full: function(elem) {
			var win = window.top === window.self ? window : parent.window;
			$(win).on('resize', function() {
				var $this = $(this);
				elem.width($this.width()).height($this.height()).css({
					top: 0,
					left: 0
				});
				elem.children('div.layui-layer-content').height($this.height() - 95);
			});
		},
		success: function(layero, index) {
			//弹出窗口成功后渲染表单
			var form = layui.form;
			form.render();
			form.on('radio(type)', function(data){
				 if(data.value=='0'){
					 $('#urlDiv').hide();
					 $('#url').val('');
					 $('#url').attr('lay-verify',null);
				 }else{
					 $('#urlDiv').show();
					 $('#url').attr('lay-verify','required');
				 } 
			});
			form.on('submit(edit)', function(data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
				data.field['pId']=pId;
				data.field['level']=level;
				 $.ajax({
					 url:'$!{rc.contextPath}/user/permission/doAdd',
					 type:'post',
					 data:data.field,
					 success:function(res){
						 if(res.code=='200'){
							 layer.msg('新增权限成功');
							 layer.close(index);
							 treeTable.reload();
						 }else{
							 layer.msg(res.msg);
						 }
					 }
				 });
				//这里可以写ajax方法提交表单
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。									
			});
		},
		end: function() {
			addBoxIndex = -1;
		}
		});
	});
}

function deleteNode(id){
	layer.confirm('确定删除该权限么', function(index){
		 $.ajax({
			 url:'$!{rc.contextPath}/user/permission/doDelete',
			 type:'post',
			 data:{permissionId:id},
			 success:function(res){
				 if(res.code=='200'){
					 layer.msg('删除权限成功');
					 treeTable.reload();
				 }else{
					 layer.msg(res.msg);
				 }
			 }
		 });
	});
}

function addSub(pId){
	$('#selectPId').val(pId);
	showTab('添加子权限',pId,2);
}

function edit(id){
	$.get('$!{rc.contextPath}/user/permissionEdit', null, function(form) {
		var index=layer.open({
				type: 1,
				title: '修改权限',
				content: form,
				btn: ['保存', '取消'],
				shade: false,
				offset: ['50px', '20%'],
				area: ['800px', '400px'],
			yes: function(index) {
				//触发表单的提交事件
				$('form.layui-form').find('button[lay-filter=edit]').click();
			},
			full: function(elem) {
				var win = window.top === window.self ? window : parent.window;
				$(win).on('resize', function() {
					var $this = $(this);
					elem.width($this.width()).height($this.height()).css({
						top: 0,
						left: 0
					});
					elem.children('div.layui-layer-content').height($this.height() - 95);
				});
			},
			success: function(layero, index) {
				//弹出窗口成功后渲染表单
				var form = layui.form;
				//加载权限信息
			    $.ajax({
			    	url:'$!{rc.contextPath}/user/permission/detail',
			    	type:'post',
			    	data:{permissionId:id},
			    	dataType:'json',
			    	success:function(res){
			    		if(res.code=='200'){
			    			$('#permissionName').val(res.data.permissionName);
				    		$('#url').val(res.data.url);
				    		$('#sort').val(res.data.sort);
				    		$('#permissionId').val(res.data.permissionId);
				    		$('#icon').val(res.data.icon);
				    		$(':radio').each(function(){
				    			if($(this).val()==res.data.type){
				    				this.checked=true;
				    			}
				    		});
				    		if(res.data.type=='0'){
				    			$('#urlDiv').hide();
				    		}else{
				    			$('#url').attr('lay-verify','required');
				    		}
				    		form.render();
			    		}
			    	}
			    });
				form.on('radio(type)', function(data){
					 if(data.value=='0'){
						 $('#urlDiv').hide();
						 $('#url').val('');
						 $('#url').attr('lay-verify',null);
					 }else{
						 $('#urlDiv').show();
						 $('#url').attr('lay-verify','required');
					 } 
				});
				form.on('submit(edit)', function(data) {
					console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
					console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
					console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
					 $.ajax({
						 url:'$!{rc.contextPath}/user/permission/doEdit',
						 type:'post',
						 data:data.field,
						 success:function(res){
							 if(res.code=='200'){
								 layer.msg('修改权限成功');
								 layer.close(index);
								 treeTable.reload();
							 }else{
								 layer.msg(res.msg);
							 }
						 }
					 });
					//这里可以写ajax方法提交表单
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。									
				});
			},
			end: function() {
				addBoxIndex = -1;
			}
			});
		});
}
</script>
</body>
</html>