
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>注册</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="$!{rc.contextPath}/static/res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="$!{rc.contextPath}"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href=""></a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="$!{rc.contextPath}/register">注册</a>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="$!{rc.contextPath}/login">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" action="$!{rc.contextPath}/doRegister">
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" onchange="checkUnique()" id="L_username" name="username" required lay-verify="username" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
                <span class="layui-form-mid " style="color:red;" id="msg"></span>
              </div>
              <div class="layui-form-item">
                <label for="L_"nickname"" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_"nickname"" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_password" name="password"   required lay-verify="pass" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required lay-verify="pass" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <img id="validateCodeImg" src="$!{rc.contextPath}/api/validateCode" />&nbsp;&nbsp;<a onclick="reloadValidateCode();">看不清？</a>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="save">立即注册</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="fly-footer">
  <p><a href="/" target="_blank">好好学习社区 </a> 2018 &copy; <a href="/" target="_blank">panzhigao.vip 出品</a>京ICP备18031226号</p>
</div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

layui.use(['jquery', 'form'], function(){
	  var $ = layui.$ ;
	  var form = layui.form;
	  form.verify({
		  title: function(value, item){ //value：表单的值、item：表单的DOM对象
		    if(item.length<5||item.length>30){
		      return '文章标题长度必须在5-30之间';
		    }
		  }
		});   
		form.on('submit(save)', function(data){
			params = data.field;
			submit($,params);
			return false;
		});
});

//提交
function submit($,params){
		$.ajax({
			url:"$!{rc.contextPath}/doRegister",
			type:"post",
			data:params,
			success:function(data){
				if(data.code=='200'){
					layer.msg(data.msg);
					setTimeout(function(){
						location.href='$!{rc.contextPath}/user/admin?div=set';
					},1000);
				}else{
					layer.msg(data.msg);
				}
			}
	});
}	

function checkUnique(){
	var username=$('#L_username').val()
	if(username||username.size>=5||username.size<=15){
		$.ajax({
			url:"$!{rc.contextPath}/checkUnique",
			data:{username:username},
			type:'post',
			success:function(data){
				if(!data.valid){
					$('#msg').html(data.msg);
				}else{
					$('#msg').html('恭喜，改用户名可以使用');
				}
			}
		});
	}
}

//点击更换验证码
function reloadValidateCode(){
    $("#validateCodeImg").attr("src","$!{rc.contextPath}/api/validateCode?data=" + new Date() + Math.floor(Math.random()*24));
}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274156186'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274156186%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>