#pictures ul li{
	float:left;
	margin:10px;
	list-style:none outside none;
}
#pictures ul li img{
	width:320px;
	height:200px;
}
.pic-delete{
	display:block;
	text-align:center;
	color:black;
	cursor:pointer;
}
.msg{
	text-align:center;
	display:block;
	color:#999;
}