<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="myauth" class="com.pan.common.filter.MyAuthenticationFilter"/>
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login"/>
		<property name="unauthorizedUrl" value="/unauth"/>
		<property name="filters">
            <util:map>
                <entry key="myauth" value-ref="myauth"/>
            </util:map>
        </property>
		<property name="filterChainDefinitions">
			<value>
				/=anon
				/login=anon
				/index=anon
				/doLogin=anon
				/register=anon
				/doRegister=anon
				/checkUnique=anon
				/forget=anon
				/sendForgetValidationCode=anon
				/resetPassword=anon
				/static/**=anon
				/article/**=anon
				/api/user/**=myauth,authc
				/api/**=anon
				/u/**=anon
				/404=anon
				/500=anon
				/unauth=anon
				/user/**=myauth,authc
				/**=authc
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="realm" />
		<property name="sessionManager" ref="sessionManager" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>

	<bean id="realm" class="com.pan.shiro.MyRealm" />

	<bean id="redisSessionDAO" class="com.pan.shiro.RedisSessionDAO">
		<property name="seconds" value="${shiro.session.redis.expire}"/>
	</bean>

	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="redisSessionDAO" />
	</bean>

	<bean id="cacheManager" class="com.pan.shiro.RedisCacheManager">
		<property name="seconds" value="${shiro.redis.expire}"/>
	</bean>

	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!--cookie的name， -->
		<constructor-arg value="my-session" />
		<property name="httpOnly" value="true" />
		<!--cookie的有效时间 -->
		<property name="maxAge" value="-1" />
		<property name="domain" value="${domain}" />
	</bean>
</beans>