<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	
	
	<!-- 引入属性文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/jedis.properties</value>
				<value>classpath:config/system.properties</value>
			</list>
		</property>
	</bean>
	
	
	<bean class="com.pan.util.MessageUtils">
		<property name="myHandler" ref="myHandler"/>
	</bean>

	<bean id="springContextUtils" class="com.pan.util.SpringContextUtils" />
	
	<bean id="systemConfigUtils" class="com.pan.util.SystemConfigUtils" init-method="init"/>

	<bean id="client" factory-bean="esClientBuilder" factory-method="build" />

	<bean id="esClientBuilder" class="com.pan.common.client.EsClientBuilder"></bean>
	
	<bean class="com.pan.common.handler.BusinessExceptionResolver"></bean>
	
	<import resource="classpath:spring/spring-mybatis.xml"/>
	<import resource="classpath:spring/spring-redis.xml"/>
	<import resource="classpath:spring/spring-task.xml"/>
	<import resource="classpath:spring/spring-shiro.xml"/>
</beans>
