<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.pan.controller" />

	<mvc:annotation-driven />
	
	<mvc:resources mapping="/static/images/**" location="/static/images/" />
	<mvc:resources mapping="/static/css/**" location="/static/css/" />
	<mvc:resources mapping="/static/js/**" location="/static/js/" />
	<mvc:resources mapping="/static/frame/**" location="/static/frame/" />
	<mvc:resources mapping="/static/assets/**" location="/static/assets/" />
	<mvc:resources mapping="/static/res/**" location="/static/res/" />
	
	
	<!-- 拦截器 -->
	<mvc:interceptors> 
	   <mvc:interceptor>
	   	 <mvc:mapping path="/**" />
	   	 <bean class="com.pan.interceptor.SessionInterceptor"></bean> 
	   </mvc:interceptor>
	   <mvc:interceptor> 
	     <mvc:mapping path="/**" />
	     <mvc:exclude-mapping path="/"/>
	     <mvc:exclude-mapping path="/login"/>
	     <mvc:exclude-mapping path="/doLogin"/>
	     <mvc:exclude-mapping path="/register"/>
	     <mvc:exclude-mapping path="/doRegister"/>
	     <mvc:exclude-mapping path="/checkUnique"/>
	     <mvc:exclude-mapping path="/static/images/**"/>
	     <mvc:exclude-mapping path="/static/css/**"/>
	     <mvc:exclude-mapping path="/static/js/**"/>
	     <mvc:exclude-mapping path="/static/frame/**"/>
	     <mvc:exclude-mapping path="/static/assets/**"/>
	     <mvc:exclude-mapping path="/static/res/**"/>
	     <bean class="com.pan.interceptor.LoginInterceptor"></bean> 
	   </mvc:interceptor> 
	</mvc:interceptors> 
	
	<!-- 引入属性文件,mvc无法引入spring容器的属性 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/jedis.properties</value>
				<value>classpath:config/system.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置velocity引擎 -->
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views/" /><!-- 
			模板存放的路径 -->
		<property name="configLocation" value="classpath:config/velocity.properties" />
	</bean>

	<!-- 配置后缀 -->
	<bean id="velocityViewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="suffix" value=".html" />
		<!-- request全局变量 -->
		<property name="requestContextAttribute" value="rc" />
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"></property>
	</bean>
	
	<!-- 上传文件 -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="defaultEncoding" value="utf-8"/>  
	    <!-- 最大内存大小 -->  
	    <property name="maxInMemorySize" value="1024000"/>  
	    <!-- 最大文件大小，-1为不限制大小 -->  
	    <property name="maxUploadSize" value="-1"/>  
	</bean>  
</beans>