<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.ArticleMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Article">
    <id     column="id"             	property="id"              jdbcType="INTEGER" />
    <result column="article_id"        	property="articleId"       jdbcType="VARCHAR" />
    <result column="user_id"        	property="userId"          jdbcType="VARCHAR" />
    <result column="status"       	    property="status"          jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="update_time"        property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="publish_time"       property="publishTime"     jdbcType="TIMESTAMP" />
    <result column="title"              property="title"           jdbcType="VARCHAR" />
    <result column="content"    		property="content"         jdbcType="VARCHAR" />
    <result column="outline"    		property="outline"         jdbcType="VARCHAR" />
    <result column="image"    		    property="image"           jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,article_id,user_id,status,create_time,update_time,publish_time,title,content,outline,image
  </sql>
  
  <sql id="Simple_Column_List" >
    id,article_id,user_id,status,create_time,update_time,publish_time,title,outline,image
  </sql>
  
  <select id="findByArticleId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_article where article_id=#{articleId}
  </select>
  
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="com.pan.entity.Article">
  	select <include refid="Base_Column_List"/> from t_article 
  	<where>
  		<if test="articleId !=null and articleId!='' ">
  			and article_id=#{articleId}
  		</if>
  		<if test="status !=null and status !=''">
  			and status=#{status}
  		</if>
  		<if test="userId !=null and userId!=''">
  			and user_id=#{userId}
  		</if>
  	</where>
  </select>
  
  <select id="findByParams" resultMap="BaseResultMap">
  	select <include refid="Simple_Column_List"/> from t_article 
  	<where>
  		<if test="articleId !=null and articleId!='' ">
  			and article_id=#{articleId}
  		</if>
  		<if test="status !=null and status !=''">
  			and status=#{status}
  		</if>
  		<if test="userId !=null and userId!=''">
  			and user_id=#{userId}
  		</if>
  	</where>
  	order by create_time desc
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
    <select id="getCountByParams" resultType="int">
	  	select count(0) from t_article 
	  	<where>
	  		<if test="articleId !=null and articleId!='' ">
	  			and article_id=#{articleId}
	  		</if>
	  		<if test="status !=null and status !=''">
	  			and status=#{status}
	  		</if>
	  		<if test="userId !=null and userId!=''">
	  			and user_id=#{userId}
	  		</if>
	  	</where>
    </select>
  
  
  <select id="findListByUserId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_article where user_id=#{userId} order by create_time desc
  </select>
  
  <insert id="saveArticle" parameterType="com.pan.entity.Article">
  	insert into t_article (<include refid="Base_Column_List"/>) values 
  	(null,#{articleId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},
  	#{updateTime,jdbcType=TIMESTAMP},#{publishTime,jdbcType=TIMESTAMP},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{outline,jdbcType=VARCHAR},#{image,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateArticle" parameterType="com.pan.entity.Article">
  	update t_article
  	<set>
  		<if test="title !=null and title !=''">
  			title=#{title,jdbcType=VARCHAR},
  		</if>
  		<if test="content !=null and content !=''">
  			content=#{content,jdbcType=VARCHAR},
  		</if>
  		<if test="updateTime !=null ">
  			update_time=#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="status!=null and status!=''">
  			status=#{status,jdbcType=VARCHAR},
  		</if>
  		<if test="outline != null and outline !=''">
  			outline=#{outline,jdbcType=VARCHAR},
  		</if>
  		<if test="image != null and image !=''">
  			image=#{image,jdbcType=VARCHAR},
  		</if>
  	</set>
  	where article_id=#{articleId}
  </update>
</mapper>