<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.ArticleMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Article">
    <id     column="id"             	property="id"              jdbcType="BIGINT" />
    <result column="user_id"        	property="userId"          jdbcType="BIGINT" />
    <result column="username"        	property="username"        jdbcType="VARCHAR" />
    <result column="status"       	    property="status"          jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="update_time"        property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="publish_time"       property="publishTime"     jdbcType="TIMESTAMP" />
    <result column="title"              property="title"           jdbcType="VARCHAR" />
    <result column="outline"    		property="outline"         jdbcType="VARCHAR" />
    <result column="image"    		    property="image"           jdbcType="VARCHAR" />
    <result column="comment_count"      property="commentCount"    jdbcType="INTEGER" />
    <result column="view_count"         property="viewCount"       jdbcType="INTEGER" />
    <result column="type"               property="type"            jdbcType="INTEGER" />
    <result column="stick"              property="stick"           jdbcType="INTEGER" />
    <result column="high_quality"       property="highQuality"     jdbcType="INTEGER" />
    <result column="category_id"        property="categoryId"     jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" extends="BaseResultMap"  type="com.pan.entity.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  
  <resultMap id="MoreResultMap" type="com.pan.dto.ArticleDTO" extends="BaseResultMap">  
    <result column="nickname"    		property="nickname"        jdbcType="VARCHAR" />
    <result column="user_portrait"      property="userPortrait"    jdbcType="VARCHAR" /> 
  </resultMap> 
  
  <sql id="Base_Column_List">
    id,user_id, status, create_time, update_time, publish_time, title, outline,
    image, comment_count, view_count, type, stick, high_quality,category_id
  </sql>
  
  <sql id="Blob_Column_List">
    content
  </sql>
  
  <!-- 不包括文章内容，减少数据返回量 -->
  <sql id="Simple_Column_List" >
    a.id,a.user_id,a.username,a.status,a.create_time,a.update_time,publish_time,title,outline,
    image,comment_count,view_count,type,stick,high_quality,category_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
   select
   <include refid="Base_Column_List" />
   ,
   <include refid="Blob_Column_List" /> from t_article
   where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findPageable" resultMap="MoreResultMap" parameterType="com.pan.query.QueryArticle">
        select <include refid="Simple_Column_List"/> from t_article a
        <include refid="whereSql"/>
        <choose>
            <when  test="isHot !=null and isHot !=''">
                order by stick desc,comment_count desc,view_count desc,publish_time desc
            </when >
            <when test="orderCondition !=null and orderCondition !=''">
                order by ${orderCondition}
            </when>
            <otherwise>
                order by stick desc,create_time desc
            </otherwise>
        </choose>
        <if test="offset!=null and row !=null">
            limit #{offset},#{row}
        </if>
  </select>

  <select id="findDTOPageable" resultMap="MoreResultMap" parameterType="com.pan.query.QueryArticle">
  	select <include refid="Simple_Column_List"/>,u.nickname,u.user_portrait,u.id as u_user_id from t_article a join t_user u
  	on a.user_id=u.id 
  	<include refid="whereSql"/>
  	<choose>
  		<when  test="isHot !=null and isHot !=''">
  			order by stick desc,comment_count desc,view_count desc,publish_time desc
  		</when >
  		<when test="orderCondition !=null and orderCondition !=''">
  			order by ${orderCondition}
  		</when>
  		<otherwise>
  			order by stick desc,create_time desc
  		</otherwise>
  	</choose>
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
  <sql id="whereSql">
  	<where> 
  		    1=1
  		<if test="id !=null">
  			and a.id=#{id,jdbcType=BIGINT}
  		</if>    
  		<if test="status !=null">
  			and a.status=#{status,jdbcType=INTEGER}
  		</if>
  		<if test="userId !=null">
  			and a.user_id=#{userId,jdbcType=BIGINT}
  		</if>
  		<if test="username !=null and username !=''">
  			and a.username=#{username,jdbcType=VARCHAR}
  		</if>
  		<if test="type !=null and type !=''">
  			and a.type=#{type,jdbcType=INTEGER}
  		</if>
        <if test="categoryId !=null">
            and a.category_id=#{categoryId,jdbcType=BIGINT}
        </if>
  		<if test="whereCondition !=null">
  			and ${whereCondition}
  		</if>
  	</where>
  </sql>
  
  <select id="countByParams" resultType="int" parameterType="com.pan.query.QueryArticle">
	  	select count(0) from t_article a
	  	<include refid="whereSql"/>
  </select>
  
  
  <select id="findListByUserId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_article where user_id=#{userId} order by create_time desc
  </select>
  
  <insert id="insertSelective" parameterType="com.pan.entity.Article">
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="outline != null">
        outline,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="viewCount != null">
        view_count,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="stick != null">
        stick,
      </if>
      <if test="highQuality != null">
        high_quality,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="outline != null">
        #{outline,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="stick != null">
        #{stick,jdbcType=INTEGER},
      </if>
      <if test="highQuality != null">
        #{highQuality,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.Article">
  	update t_article
  	<set>
  		<if test="title !=null and title !=''">
  			title=#{title,jdbcType=VARCHAR},
  		</if>
  		<if test="content !=null and content !=''">
  			content=#{content,jdbcType=LONGVARCHAR},
  		</if>
  		<if test="updateTime !=null ">
  			update_time=#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="publishTime !=null ">
  			publish_time=#{publishTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="status!=null">
  			status=#{status,jdbcType=INTEGER},
  		</if>
  		<if test="outline != null and outline !=''">
  			outline=#{outline,jdbcType=VARCHAR},
  		</if>
  		<if test="image != null and image !=''">
  			image=#{image,jdbcType=VARCHAR},
  		</if>
  		<if test="commentCount != null">
  			comment_count=comment_count+#{commentCount},
  		</if>
  		<if test="viewCount != null">
  			view_count=view_count+#{viewCount,jdbcType=INTEGER},
  		</if>
  		<if test="stick != null">
  			stick=#{stick,jdbcType=INTEGER},
  		</if>
  		<if test="highQuality != null">
  			high_quality=#{highQuality,jdbcType=INTEGER},
  		</if>
        <if test="categoryId != null">
            category_id=#{categoryId,jdbcType=BIGINT},
        </if>
  	</set>
  	where id=#{id}
  </update>
  
  <delete id="deleteByUserIdAndArticleId">
  	delete from t_article where user_id=#{userId} and id=#{articleId}
  </delete>
  
  <select id="getMaxStick" resultType="int">
  	select max(stick) from t_article
  </select>
</mapper>