<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.MessageMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="receiver_user_id" jdbcType="BIGINT" property="receiverUserId" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="sender_user_id" jdbcType="BIGINT" property="senderUserId" />
    <result column="message_type" jdbcType="INTEGER" property="messageType" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="content_name" jdbcType="VARCHAR" property="contentName" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, status, receiver_user_id, sender_name, sender_user_id, message_type,
    article_id, comment_id, content_name, comment_content, create_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
     select
     <include refid="Base_Column_List"/>
     from t_message
     where id = #{id,jdbcType=BIGINT}
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.Message">
    update t_message
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="receiverUserId != null">
        receiver_user_id = #{receiverUserId,jdbcType=BIGINT},
      </if>
      <if test="senderName != null">
        sender_name = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderUserId != null">
        sender_user_id = #{senderUserId,jdbcType=BIGINT},
      </if>
      <if test="messageType != null">
        message_type = #{messageType,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="contentName != null">
        content_name = #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateStatusByReceiverUserId">
  	update t_message set status = #{status,jdbcType=INTEGER} where receiver_user_id = #{receiverUserId,jdbcType=BIGINT}
  </update>
  
  <insert id="insertSelective" parameterType="com.pan.entity.Message">
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="receiverUserId != null">
        receiver_user_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="senderUserId != null">
        sender_user_id,
      </if>
      <if test="messageType != null">
        message_type,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="contentName != null">
        content_name,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="receiverUserId != null">
        #{receiverUserId,jdbcType=BIGINT},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderUserId != null">
        #{senderUserId,jdbcType=BIGINT},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="contentName != null">
        #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="countByParams" resultType="int" parameterType="com.pan.query.QueryMessage">
  	select count(0) from t_message 
    <include refid="whereSql"/>
  </select>

  <select id="findPageable" resultMap="BaseResultMap" parameterType="com.pan.query.QueryMessage">
    select <include refid="Base_Column_List"/> from t_message
    <include refid="whereSql"/>
    order by create_time desc
    <if test="offset!=null and row !=null">
      limit #{offset},#{row}
    </if>
  </select>

  <sql id="whereSql">
    <where>
      <if test="receiverUserId != null">
        and receiver_user_id=#{receiverUserId,jdbcType=BIGINT}
      </if>
      <if test="status != null">
        and status=#{status,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  
</mapper>