<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.MessageMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="receiver_user_id" jdbcType="VARCHAR" property="receiverUserId" />
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    <result column="sender_user_id" jdbcType="VARCHAR" property="senderUserId" />
    <result column="message_type" jdbcType="INTEGER" property="messageType" />
    <result column="content_id" jdbcType="VARCHAR" property="contentId" />
    <result column="content_name" jdbcType="VARCHAR" property="contentName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, message_id, status, receiver_user_id, sender_name, sender_user_id, message_type, 
    content_id, content_name, create_time, comment_content
  </sql>

  <insert id="insertSelective" parameterType="com.pan.entity.Message">
    insert into t_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageId != null">
        message_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="receiverUserId != null">
        receiver_user_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="senderUserId != null">
        sender_user_id,
      </if>
      <if test="messageType != null">
        message_type,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
      <if test="contentName != null">
        content_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="receiverUserId != null">
        #{receiverUserId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderUserId != null">
        #{senderUserId,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="contentName != null">
        #{contentName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countByParams" resultType="int" parameterType="com.pan.query.QueryMessage">
  	select count(0) from t_message 
    <include refid="whereSql"/>
  </select>

  <select id="findPageable" resultMap="BaseResultMap" parameterType="com.pan.query.QueryMessage">
    select <include refid="Base_Column_List"/> from t_message
    <include refid="whereSql"/>
    order by create_time desc
    <if test="offset!=null and row !=null">
      limit #{offset},#{row}
    </if>
  </select>

  <sql id="whereSql">
    <where>
      <if test="receiverUserId != null">
        and receiver_user_id=#{receiverUserId,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status=#{status,jdbcType=INTEGER}
      </if>
    </where>
  </sql>

  <!-- 消息标为已读 -->
  <update id="cleanMessage">
  	update t_message set status=1
  	<where>
  		<if test="receiverUserId !=null and receiverUserId !=''">
  		 and receiver_user_id=#{receiverUserId}
  		</if>
  		<if test="messageId !=null and messageId !=''">
  		 and message_id=#{messageId}
  		</if>
  	</where>
  </update>
  
</mapper>