<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.mapper.OperateLogMapper">
    <resultMap id="BaseResultMap" type="com.pan.entity.OperateLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="operate_type" jdbcType="INTEGER" property="operateType"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
    id, user_id, username, content, operate_type, ip, create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_operate_log
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    	delete from t_operate_log
    	where id = #{id,jdbcType=BIGINT}
  	</delete>

    <insert id="insertSelective" parameterType="com.pan.entity.OperateLog">
        insert into t_operate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="operateType != null">
                operate_type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                #{operateType,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.OperateLog">
        update t_operate_log
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                operate_type = #{operateType,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
	
	<select id="findPageable" parameterType="com.pan.entity.OperateLog" resultMap="BaseResultMap">
		select
        <include refid="Base_Column_List"/>
        from t_operate_log
        <include refid="whereSql"/>
        order by create_time desc
        <if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  		</if>
	</select>
	
	<select id="countByParams" resultType="int">
		select count(0) from t_operate_log
		<include refid="whereSql"/>
	</select>
	
	<sql id="whereSql">
		<where>
			<if test="username != null and username !='' ">
                and username = #{username,jdbcType=VARCHAR}
            </if>
			<if test="operateType != null">
                and operate_type = #{operateType,jdbcType=INTEGER}
            </if>
		</where>
	</sql>
</mapper>