<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.PermissionMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Permission">
    <id     column="id"             	property="id"              jdbcType="INTEGER" />
    <result column="permission_id"      property="permissionId"    jdbcType="VARCHAR" />
    <result column="permission_name"    property="permissionName"  jdbcType="VARCHAR" />
    <result column="url"        	    property="url"             jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="pid"                property="pId"             jdbcType="VARCHAR" />
    <result column="level"              property="level"           jdbcType="INTEGER" />
    <result column="sort"               property="sort"            jdbcType="INTEGER" />
    <result column="icon"               property="icon"            jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,permission_id,permission_name,url,create_time,pid,level,sort,icon
  </sql>
  
  <select id="findByParams" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_permission
  	<where>
  		<if test="permissionName !=null and permissionName !=''">
	  			and permission_name like CONCAT('%','${permissionName}','%')
	  		</if>
  	</where>
  	order by create_time desc
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
    <select id="getCountByParams" resultType="int">
	  	select count(0) from t_permission 
	  	<where>
	  		<if test="permissionName !=null and permissionName !=''">
	  			and permission_name like CONCAT('%','${permissionName}','%')
	  		</if>
	  	</where>
    </select>
   
  <insert id="addPermission" parameterType="com.pan.entity.Collection">
  	insert into t_permission (<include refid="Base_Column_List"/>) values 
  	(null,#{permissionId,jdbcType=VARCHAR},#{permissionName,jdbcType=VARCHAR},
  	#{url,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{pId,jdbcType=VARCHAR},
  	#{level,jdbcType=INTEGER},#{sort,jdbcType=INTEGER},#{icon,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deletePermission">
  	delete from t_permission where permission_id=#{permissionId}
  </delete>
  
  <select id="findAll" resultMap="BaseResultMap">
 	select <include refid="Base_Column_List"/> from t_permission
  </select>
  
  <select id="getPermissionSelectedByRoleId" resultMap="BaseResultMap">
 	select tp.permission_id,tp.permission_name,tp.url,max(ifnull(tr.role_id,0))marker,tp.pid from t_permission tp		
	left join t_role_permission trp on trp.permission_id=tp.permission_id
	left join (select role_id from t_role where role_id =#{roleId}) tr on tr.role_id=trp.role_id
	group by tp.permission_id
  </select>
  
  
  <select id="getPermissionByRoleId" resultMap="BaseResultMap">
  	select tp.permission_id,tp.pid,tp.permission_name,tp.url,tp.icon from t_role_permission trp join t_permission tp on trp.permission_id=tp.permission_id
  	where trp.role_id=#{roleId}
  </select>
</mapper>