<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.PermissionMapper">

	<resultMap id="BaseResultMap" type="com.pan.entity.Permission">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
		<result column="permission_point" jdbcType="VARCHAR" property="permissionPoint" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="pid" jdbcType="BIGINT" property="pid" />
		<result column="level" jdbcType="INTEGER" property="level" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
	</resultMap>

	<sql id="Base_Column_List">
		id, permission_name,permission_point, url, pid,level, sort,
		icon, type,create_time,create_user_id, update_time, update_user_id
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_permission
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<sql id="whereSql">
		<where>
			<if test="permissionName !=null and permissionName !=''">
				and permission_name like CONCAT('%',#{permissionName},'%')
			</if>
			<if test="permissionPoint !=null and permissionPoint !=''">
				and permission_point =#{permissionPoint,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<select id="countByParams" resultType="int">
		select count(0) from t_permission
		<include refid="whereSql"/>
	</select>
	
	<select id="findPageable" resultMap="BaseResultMap" parameterType="com.pan.query.QueryPermission">
		select
		<include refid="Base_Column_List" />
		from t_permission
		<include refid="whereSql"/>
		order by create_time asc
		<if test="offset!=null and row !=null">
			limit #{offset},#{row}
		</if>
	</select>

	<insert id="insertSelective" parameterType="com.pan.entity.Permission" useGeneratedKeys="true" keyProperty="id">
		insert into t_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="permissionName != null">
				permission_name,
			</if>
			<if test="permissionPoint != null">
				permission_point,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="permissionName != null">
				#{permissionName,jdbcType=VARCHAR},
			</if>
			<if test="permissionPoint != null">
				#{permissionPoint,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=BIGINT},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_permission
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_permission order by sort asc
	</select>

	<select id="getPermissionSelectedByRoleId" resultMap="BaseResultMap">
		select
		tp.id,tp.permission_name,permission_point,tp.url,max(ifnull(tr.id,0))marker,tp.pid,tp.sort
		from t_permission tp
		left join t_role_permission trp on
		trp.permission_id=tp.id
		left join (select id from
		t_role where id =#{roleId}) tr on
		tr.id=trp.role_id
		group by
		tp.id
	</select>

	<select id="getPermissionByRoleId" resultMap="BaseResultMap">
		select
		tp.id,tp.pid,tp.permission_name,permission_point,tp.url,tp.icon,tp.sort,tp.type
		from t_role_permission trp join t_permission tp on
		trp.permission_id=tp.id
		where trp.role_id=#{roleId}
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.Permission">
		update t_permission
		<set>
			<if test="permissionName != null">
				permission_name = #{permissionName,jdbcType=VARCHAR},
			</if>
			<if test="permissionPoint != null">
				permission_point = #{permissionPoint,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findPermissionsByUserId" resultMap="BaseResultMap">
		select
		tp.id,tp.id,tp.permission_name,tp.permission_point,tp.url,tp.create_time,tp.pid,tp.level,tp.sort,tp.icon,tp.type,tp.create_user_id
		from t_user tu left
		join t_user_role tur on tu.id=tur.user_id
		join
		t_role_permission trp on trp.role_id=tur.role_id
		join t_permission tp
		on tp.id=trp.permission_id where
		tu.id=#{userId}
	</select>
	
	<select id="findByParentId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_permission where pid=#{parentId}
	</select>
	
	<select id="countByParentId" resultType="int">
		select count(0) from t_permission
		where pid=#{parentId}
	</select>
	
</mapper>