<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.PictureMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Picture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="picture_id" jdbcType="VARCHAR" property="pictureId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, picture_id, create_time, user_id, picture_url, picture_path
  </sql>
  
  <select id="findByPictureId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_picture where picture_id=#{pictureId}
  </select>
  
  <select id="findPageable" resultMap="BaseResultMap" parameterType="com.pan.query.QueryPicture">
  	select <include refid="Base_Column_List"/> from t_picture 
  	<include refid="whereSql"/>
  	order by create_time desc
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
  <insert id="insertSelective" parameterType="com.pan.entity.Picture">
    insert into t_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pictureId != null">
        picture_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="picturePath != null">
        picture_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pictureId != null">
        #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null">
        #{picturePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteByPictureIds">
  	delete from t_picture where user_id=#{userId} and picture_id in
  	<foreach collection="picIds" item="picId" open="(" close=")" separator=",">
  		#{picId}
  	</foreach>
  </delete>
  
  <select id="countByParams" resultType="int">
  	select count(0) from t_picture tp
  	<include refid="whereSql"/>
  </select>
  
  <sql id="whereSql">
  	<where>
  		<if test="pictureId !=null and pictureId!='' ">
  			and picture_id=#{pictureId}
  		</if>
  		<if test="userId !=null and userId!=''">
  			and user_id=#{userId}
  		</if>
  	</where>
  </sql>
</mapper>