<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.RoleMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.Role">
    <id     column="id"             	property="id"              jdbcType="INTEGER" />
    <result column="role_id"            property="roleId"          jdbcType="VARCHAR" />
    <result column="role_name"          property="roleName"        jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="marker"             property="marker"          jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,role_id,role_name,create_time
  </sql>
  
  <select id="findByParams" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_role
  	<where>
  		<if test="roleName !=null and roleName !=''">
	  			and role_name like CONCAT('%','${roleName}','%')
	  	</if>
	  	<if test="roleId !=null and roleId !=''">
	  			and role_id=#{roleId}
	  	</if>
  	</where>
  	order by create_time desc
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
    <select id="getCountByParams" resultType="int">
	  	select count(0) from t_role 
	  	<where>
	  		<if test="roleName !=null and roleName !=''">
	  			and role_name like CONCAT('%','${roleName}','%')
	  		</if>
	  	</where>
    </select>
   
  <insert id="addRole" parameterType="com.pan.entity.Role">
  	insert into t_role (<include refid="Base_Column_List"/>) values (null,#{roleId,jdbcType=VARCHAR},#{roleName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <delete id="deleteRole">
  	delete from t_role where role_id=#{roleId}
  </delete>
  
  <delete id="deleteRolePermissionByRoleId">
  	delete from t_role_permission where role_id=#{roleId}
  </delete>
  
  <insert id="addRolePermission" parameterType="java.util.List">
  	insert into t_role_permission (role_id,permission_id,create_time) values
  	<foreach collection="list" item="item" separator="," close=";">  	
  		  (#{item.roleId,jdbcType=VARCHAR},#{item.permissionId,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP})
  	</foreach>
  </insert>
  
  <select id="getRoleSelectedByUserId" resultMap="BaseResultMap">
 	select tr.role_id,tr.role_name,max(ifnull(tr.user_id,0))marker from t_role tr		
	left join t_user_role tur on tur.role_id=tr.role_id
	left join (select user_id from t_user where user_id =#{userId}) tr on tr.user_id=tur.user_id
	group by tr.role_id
  </select>
  
  <select id="getRoleByUserId" resultType="String">
  	select role_id from t_user_role where user_id=#{userId}
  </select>
</mapper>