<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.UserExtensionMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.UserExtension">
    <id     column="id"             	property="id"              jdbcType="BIGINT" />
    <result column="nickname"        	property="nickname"        jdbcType="VARCHAR" />
    <result column="user_portrait"      property="userPortrait"    jdbcType="VARCHAR" />
    <result column="user_brief"       	property="userBrief"       jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="update_time"        property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="article_counts"     property="articleCounts"   jdbcType="INTEGER" />
    <result column="comment_counts"     property="commentCounts"   jdbcType="INTEGER" />
    <result column="total_score"         property="totalScore"           jdbcType="INTEGER" />
    <result column="continuous_login_days"  property="continuousLoginDays" jdbcType="INTEGER" />
    <result column="continuous_check_in_days"  property="continuousCheckInDays" jdbcType="INTEGER" />
    <result column="total_login_days"     property="totalLoginDays" jdbcType="INTEGER" />
    <result column="total_check_in_days"  property="totalCheckInDays" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,nickname,user_portrait,user_brief,create_time,update_time,article_counts,comment_counts,total_score,
    continuous_login_days,continuous_check_in_days,total_login_days,total_check_in_days
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_extension
    where id = #{id,jdbcType=BIGINT}
  </select>	
	
  <insert id="insertSelective" parameterType="com.pan.entity.UserExtension">
  	insert into t_user_extension 
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="id !=null">
  			id,
  		</if>
  		<if test="nickname !=null and nickname !='' ">
  			nickname,
  		</if>
  		<if test="userPortrait !=null and userPortrait !='' ">
  			user_portrait,
  		</if>
  		<if test="userBrief !=null and userBrief !='' ">
  			user_brief,
  		</if>
  		<if test="createTime !=null">
  			create_time,
  		</if>
  		<if test="updateTime !=null">
  			update_time,
  		</if>
  		<if test="articleCounts !=null">
  			article_counts,
  		</if>
  		<if test="commentCounts !=null">
  			comment_counts,
  		</if>
  		<if test="totalScore !=null">
  			total_score,
  		</if>
  	</trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="id !=null">
  			#{id,jdbcType=BIGINT},
  		</if>
  		<if test="nickname !=null and nickname !='' ">
  			#{nickname,jdbcType=VARCHAR},
  		</if>
  		<if test="userPortrait !=null and userPortrait !='' ">
  			#{userPortrait,jdbcType=VARCHAR},
  		</if>
  		<if test="userBrief !=null and userBrief !='' ">
  			#{userBrief,jdbcType=VARCHAR},
  		</if>
  		<if test="createTime !=null">
  			#{createTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="updateTime !=null">
  			#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="articleCounts !=null and articleCounts !='' ">
  			#{articleCounts,jdbcType=INTEGER},
  		</if>
  		<if test="commentCounts !=null and commentCounts !='' ">
  			#{commentCounts,jdbcType=INTEGER},
  		</if>
  		<if test="totalScore !=null and totalScore !='' ">
  			#{totalScore,jdbcType=INTEGER},
  		</if>
  	</trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.UserExtension">
  	update t_user_extension 
  	<set>
  		<if test="nickname !=null">
  			nickname=#{nickname,jdbcType=VARCHAR},
  		</if>
  		<if test="userPortrait !=null">
  			user_portrait=#{userPortrait,jdbcType=VARCHAR},
  		</if>
  		<if test="userBrief !=null and userBrief !='' ">
  			user_brief=#{userBrief,jdbcType=VARCHAR},
  		</if>
  		<if test="updateTime !=null ">
  			update_time=#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="continuousLoginDays !=null ">
  			continuous_login_days=#{continuousLoginDays,jdbcType=INTEGER},
  		</if>
  		<if test="continuousCheckInDays !=null ">
  			continuous_check_in_days=#{continuousCheckInDays,jdbcType=INTEGER},
  		</if>
  	</set>
  	where id=#{id}
  </update>
  
  <update id="increaseCounts" parameterType="com.pan.entity.UserExtension">
  	update t_user_extension 
  	<set>
  		<if test="updateTime !=null ">
  			update_time=#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="articleCounts !=null ">
  			article_counts=article_counts+#{articleCounts,jdbcType=INTEGER},
  		</if>
  		<if test="commentCounts !=null ">
  			comment_counts=comment_counts+#{commentCounts,jdbcType=INTEGER},
  		</if>
  		<if test="totalScore !=null ">
  			total_score=total_score+#{totalScore,jdbcType=INTEGER},
  		</if>
  		<if test="continuousLoginDays !=null ">
  			continuous_login_days=continuous_login_days+#{continuousLoginDays,jdbcType=INTEGER},
  		</if>
  		<if test="continuousCheckInDays !=null ">
  			continuous_check_in_days=continuous_check_in_days+#{continuousCheckInDays,jdbcType=INTEGER},
  		</if>
  		<if test="totalLoginDays !=null ">
  			total_login_days=total_login_days+#{totalLoginDays,jdbcType=INTEGER},
  		</if>
  		<if test="totalCheckInDays !=null ">
  			total_check_in_days=total_check_in_days+#{totalCheckInDays,jdbcType=INTEGER},
  		</if>
  	</set>
  	where id=#{id}
  </update>
  
  <select id="findPageable" resultMap="BaseResultMap" parameterType="com.pan.query.QueryUserExtension">
  	select <include refid="Base_Column_List"/> from t_user_extension 
  	<include refid="whereSql"/>
  	<if test="orderCondition !=null and orderCondition !=''">
  		order by ${orderCondition}
  	</if>
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  
  <select id="countByParams" resultType="int" parameterType="com.pan.query.QueryUserExtension">
  	select count(0) from t_user_extension
  	<include refid="whereSql"/>
  </select>
  
  <sql id="whereSql">
  	<where>
  		<if test="whereCondition !=null">
  			and ${whereCondition}
  		</if>
  	</where>
  </sql>
</mapper>