<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="com.pan.entity.User">
    <id     column="id"             	property="id"              jdbcType="BIGINT" />
    <result column="sex"        	    property="sex"             jdbcType="INTEGER" />
    <result column="username"       	property="username"        jdbcType="VARCHAR" />
    <result column="nickname"       	property="nickname"        jdbcType="VARCHAR" />
    <result column="password"           property="password"        jdbcType="VARCHAR" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
    <result column="last_login_time"    property="lastLoginTime"   jdbcType="TIMESTAMP" />
    <result column="status"    			property="status"          jdbcType="INTEGER" />
    <result column="telephone"    		property="telephone"       jdbcType="VARCHAR" />
    <result column="update_time"        property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="user_portrait"      property="userPortrait"    jdbcType="VARCHAR" />
    <result column="admin_flag"         property="adminFlag"       jdbcType="VARCHAR" />
    <result column="address"            property="address"         jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="MoreResultMap" type="com.pan.dto.UserDTO" extends="BaseResultMap">  
    <result property="roleNames" column="role_names"/>  
  </resultMap> 
  
  <resultMap id="UserRoleResultMap" type="com.pan.entity.UserRole">
    <id     column="id"             	property="id"              jdbcType="BIGINT" />
    <result column="role_id"        	property="roleId"          jdbcType="BIGINT" />
    <result column="create_time"        property="createTime"      jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id,sex,username,nickname,password,create_time,last_login_time,status,telephone,
    update_time,user_portrait,admin_flag,address
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
	
  <select id="findByTelephone" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_user where telephone=#{telephone}
  </select>
  
  <select id="findByUsername" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from t_user where username=#{username}
  </select>
  
  <insert id="insertSelective" parameterType="com.pan.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userPortrait != null">
        user_portrait,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="adminFlag != null">
        admin_flag,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPortrait != null">
        #{userPortrait,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="adminFlag != null">
        #{adminFlag,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.entity.User">
  	update t_user 
  	<set>
  		<if test="username !=null and username !='' ">
  			username=#{username,jdbcType=VARCHAR},
  		</if>
  		<if test="nickname !=null and nickname !='' ">
  			nickname=#{nickname,jdbcType=VARCHAR},
  		</if>
  		<if test="password != null and password !='' ">
  			password=#{password,jdbcType=VARCHAR},
  		</if>
  		<if test="lastLoginTime != null">
  			last_login_time=#{lastLoginTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="status != null">
  			status=#{status,jdbcType=INTEGER},
  		</if>
  		<if test="telephone != null and telephone !=''">
  			telephone=#{telephone,jdbcType=VARCHAR},
  		</if>
  		<if test="userPortrait !=null and userPortrait !='' ">
  			user_portrait=#{userPortrait,jdbcType=VARCHAR},
  		</if>
  		<if test="sex !=null and sex !='' ">
  			sex=#{sex,jdbcType=INTEGER},
  		</if>
  		<if test="updateTime != null">
  			update_time=#{updateTime,jdbcType=TIMESTAMP},
  		</if>
  		<if test="updateUserId !=null and updateUserId !=''">
  			update_user_id=#{updateUserId,jdbcType=BIGINT},
  		</if>
  		<if test="adminFlag !=null">
  			admin_flag=#{adminFlag,jdbcType=VARCHAR},
  		</if>
  		<if test="address !=null and address !=''">
  			address=#{address,jdbcType=VARCHAR},
  		</if>
  	</set>
  	where id=#{id}
  </update>
  
  <select id="countByParams" resultType="int">
  	select count(0) from t_user tu
  	<include refid="whereSql"/>
  </select>
  
  <sql id="whereSql">
  	<where>
  		<if test="sex !=null">
  			and tu.sex=#{sex}
  		</if>
  		<if test="status !=null">
  			and tu.status=#{status}
  		</if>
  		<if test="telephone !=null and telephone!=''">
  			and tu.telephone=#{telephone}
  		</if>
  		<if test="username !=null and username!=''">
  			and tu.username like CONCAT('%',#{username},'%')
  		</if>
  		<if test="nickname !=null and nickname!=''">
  			and tu.nickname=#{nickname}
  		</if>
  	</where>
  </sql>
  
  <select id="findPageable" resultMap="BaseResultMap">
  	select tu.id,tu.sex,tu.username,tu.nickname,tu.create_time,tu.last_login_time,tu.status,tu.telephone,tu.update_time,tu.user_portrait
  	from t_user tu  
  	<include refid="whereSql"/>
  	<choose>
  		<when test="orderCondition !=null and orderCondition !=''">
  			order by ${orderCondition}
  		</when>
  		<otherwise>
  			order by id asc
  		</otherwise>
  	</choose>
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>
  	
  <select id="findDTOPageable" resultMap="MoreResultMap">
  	select tu.id,tu.sex,tu.username,tu.nickname,tu.create_time,tu.last_login_time,tu.status,tu.telephone,tu.update_time,tu.user_portrait,group_concat(tr.role_name) as role_names
  	from t_user tu left join t_user_role tur on tu.id=tur.user_id left join t_role tr on tr.id= tur.role_id
  	<include refid="whereSql"/>
  	group by tu.id
  	<choose>
  		<when test="orderCondition !=null and orderCondition !=''">
  			order by ${orderCondition}
  		</when>
  		<otherwise>
  			order by id asc
  		</otherwise>
  	</choose>
  	<if test="offset!=null and row !=null">
  		limit #{offset},#{row}
  	</if>
  </select>	
  

  <!-- 根据角色查找使用该角色的用户数 -->
  <select id="findUserByRoleId" resultMap="BaseResultMap">
  	select tu.id,tu.sex,tu.username,tu.nickname,tu.create_time,tu.last_login_time,tu.status,tu.telephone,tu.update_time,tu.user_portrait
  	from t_user tu join t_user_role tur on tu.id=tur.user_id
  	where role_id=#{roleId}
  </select>

</mapper>