<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>GOOD GOOD STUDY</title>
    <link href="$!{rc.contextPath}/static/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!{rc.contextPath}/static/assets/css/main.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/static/assets/css/article.css" rel="stylesheet">
    <script src="$!{rc.contextPath}/static/js/util.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$!{rc.contextPath}/user/index">$!{userInfo.nickname}</a>
        </div>
        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="$!{rc.contextPath}/user/article">编写文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_articles">我的文章</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="$!{rc.contextPath}/user/quit">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	
	<!-- +++++ Post +++++ -->
	#if($article)
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img class="img-circle" src="#if(!$userInfo.userPortrait) $!{rc.contextPath}/static/assets/img/user.png #else ${userInfo.userPortrait} #end" width="50px" height="50px">
						<ba>$!{userInfo.nickname}</ba>
					</p>
					<p>$!date.format('yyyy-MM-dd HH:mm:ss ',$!{article.createTime})<span class="article-status article-status-$!{article.status}"></span></p>
					<h4>$!{article.title}</h4>
					<p>$!{article.content}</p>
					<br>
					<hr>
					<p><a href="$!{rc.contextPath}/user/my_articles">#点此返回文章列表</a>
					#if($article.status==0||$article.status==1)
					<a href="$!{rc.contextPath}/user/article/edit/$!{article.articleId}" style="float:right">编辑</a>
					#end
					</p>
				</div>
			</div>
	    </div> 
	</div>
	#else
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>
						<img src="$!{rc.contextPath}/static/assets/img/user.png" width="50px" height="50px" style="display:block;margin:0 auto;">
					</p>
					<h4 style="margin:40px 0;">文章不存在</h4>
					<hr>
					<p><a href="$!{rc.contextPath}/user/my_articles">#点此返回文章列表</a></p>
				</div>
			</div>
	    </div> 
	</div>
	#end
	<a href="#top" id="toTop" title="返回顶部" style="background: url($!{rc.contextPath}/static/images/sprites.png) no-repeat -8px -445px;display:none;width:35px; height:42px;position:fixed;right:100px;bottom:220px;">
	</a>
	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div><!-- /col-lg-4 -->
			</div>
		</div>
	</div>
    <script src="$!{rc.contextPath}/static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function(){  
        $(window).scroll(function(){  
        	//是否到底部了
        	var atBottom=false;
        	var scrollTop = $(window).scrollTop();
        	var scrollHeight = $(document).height();
        	var windowHeight = $(window).height();
        	if(scrollTop + windowHeight == scrollHeight){
        	　　atBottom=true;
        	}
            var srollPos = $(window).scrollTop();  // 滚动条距顶部距离(页面超出窗口的高度)  
            srollPos > 100 && !atBottom ? $('#toTop').fadeIn() : $('#toTop').fadeOut();
        });  
    }); 
    </script>
  </body>
</html>
