<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>GOOD</title>
    <!-- Bootstrap core CSS -->
    <link href="$!{rc.contextPath}/static/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!{rc.contextPath}/static/assets/css/main.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/static/assets/css/article.css" rel="stylesheet">
    <script src="$!{rc.contextPath}/static/js/util.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$!{rc.contextPath}/user/index">$!{user.nickname}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="$!{rc.contextPath}/user/article">编写文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_articles">我的文章</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	<!-- 文章列表 -->
	<div id="articleList">
	</div>
	
	<div class="container">
		<h4 id="msg" style="text-align: center;display:block;"></h4>
	</div>
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var pageNo=1;
		var pageSize=2;
		var page={pageNo:pageNo,pageSize:pageSize};
		var hasData=true;
		function loadData(){
			console.log(page);
			$.ajax({
				url:"$!{rc.contextPath}/user/get_articles",
				type:"post",
				dataType:"json",
				data:page,
				beforeSend:function(){
					$("#msg").html("数据加载中....");
				},
				success:function(data){
					var length=data.length;
					if(length<pageSize){
						$("#msg").html("没有更多数据了");
						hasData=false;
					}else{
						$("#msg").html("");
						page.pageNo++;
					}
					for(var i=0;i<length;i++){
						var one=data[i];
						var formatDate=new Date(one.createTime);
						formatDate=dateFormat("yyyy-MM-dd hh:mm:ss",formatDate);
						var myCss="article-status-"+one.status;
						var artile='<div id="white">'+
					    '<div class="container">'+
							'<div class="row">'+
								'<div class="col-lg-8 col-lg-offset-2">'+
									'<p><img src="$!{rc.contextPath}/static/assets/img/user.png" width="50px" height="50px">'+
										'<ba>&nbsp;$!{user.nickname}</ba>'+
									'</p>'+
									'<p>'+formatDate+'&nbsp;&nbsp;<span class="article-status '+myCss+'"></span></p>'+
									'<h4><a title="详细页" href="$!{rc.contextPath}/user/article/detail/'+one.articleId+'" target="_blank">'+one.title+'</a></h4>'+
									'<p>'+one.content+'</p>'+
								'</div>'+
							'</div>'+
					    '</div>'+
					'</div><hr style="width:80%;margin:auto;"/>';	
					$("#articleList").append(artile);	
					}	
				}
			});
		}
		
		$(document).ready(function(){  
			loadData();
	        var range = 50;   //距下边界长度/单位px   
	        var totalheight = 0;   
	        var main = $("#articleList");  //主体元素  
	        $(window).scroll(function(){  
	            var srollPos = $(window).scrollTop();  //滚动条距顶部距离(页面超出窗口的高度)  
	            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);  
	            if(($(document).height()-range) <= totalheight&&hasData){  
	            	loadData();
	            }  
	        });  
	    });  
	</script>
    <script src="$!{rc.contextPath}/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
