<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-static/assets/ico/favicon.png">
    <title>write an article</title>
    <!-- Bootstrap core CSS -->
    <link href="$!{rc.contextPath}/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/static/assets/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="$!{rc.contextPath}/static/assets/js/hover.zoom.js"></script>
    <script src="$!{rc.contextPath}/static/assets/js/hover.zoom.conf.js"></script>
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">$!{user.nickname}</a>
          <input hidden="userId" value="$!{user.userId}"/>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="$!{rc.contextPath}/user/to_write">Write</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>WRITE A ARTICLE</h3>
				<hr>
				<p>Write your article here. Share you ideas to others <a href="http://dribbble.com/wanderingbert">David Creighton-Pester</a>.</p>
			</div>
		</div>
		<div class="form-group form-group-lg">
      		<input class="form-control" type="text" id="title" placeholder="文章标题">
		</div>
		<div id="div1">
            
        </div>
        <div class="text-center row mt">
        	<button class="btn btn-primary" id="btnPublish" onclick="saveArticle('2')">发布</button>
        	<button class="btn btn-inverse" id="btnSave" onclick="saveArticle('1')">存草稿</button>
        </div>
	</div>
	
	
	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div>
			
			</div>
		
		</div>
	</div>
	 <!-- 引用js -->
    <script type="text/javascript" src="$!{rc.contextPath}/static/frame/wangEditor/wangEditor.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#div1');
        editor.create();
  		
        //保存文章
        //status文章状态
        function saveArticle(status){
        	//获取编辑框内容
        	var content=editor.$textElem.html();
        	if(!content){
        		alert("请填写文章内容");
        		return;
        	}
        	var title=$("#title").val();
        	if(!title){
        		alert("请填写文章标题");
        		return;
        	}
        	$.ajax({
        		url:"$!{rc.contextPath}/user/save_article",
        		type:"post",
        		dataType:"json",
        		data : {content,content,title:title,status:status},
        		beforeSend:function(){
        			$("#btnPublish").attr({ disabled: "disabled" });
        		},
        		success:function(data){
        			if(data.code=='200'){
        				alert(data.msg);
        			}else{
        				alert(data.msg);
        			}
        		},
        	    complete: function () {
        	        $("#btnPublish").removeAttr("disabled");
        	    },
        		error:function(){
        			alert("文章发布失败");
        		}
        	});
        }
    </script>
    <script src="$!{rc.contextPath}/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
