<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-static/assets/ico/favicon.png">
    <title>WRITE AN ARTICLE</title>
    <!-- Bootstrap core CSS -->
    <link href="$!{rc.contextPath}/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/static/assets/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="$!{rc.contextPath}/static/assets/js/hover.zoom.js"></script>
    <script src="$!{rc.contextPath}/static/assets/js/hover.zoom.conf.js"></script>
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$!{rc.contextPath}/user/index">$!{user.nickname}</a>
          <input hidden="userId" value="$!{user.userId}"/>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="$!{rc.contextPath}/user/article">编写文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_articles">我的文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_pictures">我的相册</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="$!{rc.contextPath}/user/quit">退出</a></li>
          </ul>
        </div>
      </div>
    </div>
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>WRITE A ARTICLE</h3>
				<hr>
				<p>Write your article here. Share you ideas to others</p>
			</div>
		</div>
		<div class="form-group form-group-lg">
      		<input class="form-control" type="text" id="title" placeholder="文章标题(5-30个字符)">
		</div>
		<div id="div1">
            
        </div>
        <div class="text-center row mt">
        	<button class="btn btn-primary myBtn" id="btnPublish" onclick="saveArticle('2')">发布</button>
        	&nbsp;&nbsp;
        	<button class="btn btn-info myBtn" id="btnSave" onclick="saveArticle('1')">存草稿</button>
        	&nbsp;&nbsp;
        	<button class="btn btn-inverse" id="btnSave" onclick="history.go(-1)">返回</button>
        </div>
	</div>
	
	
	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div>
			</div>
		</div>
	</div>
	 <!-- 引用js -->
    <script type="text/javascript" src="$!{rc.contextPath}/static/frame/wangEditor/wangEditor.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#div1');
        editor=new wangEditor('#div1');
        editor.customConfig.uploadImgServer="$!{rc.contextPath}/file/upload2";
        editor.customConfig.uploadImgFileName ='file';
        editor.customConfig.uploadImgTimeout = 3000;
        editor.customConfig.debug = true
        editor.create();
  		
        //保存文章
        //status文章状态
        function saveArticle(status){
        	//获取编辑框内容
        	var hasContent=false;
        	var content=editor.$textElem.html();
        	var text=editor.$textElem.text();
        	var image='';
        	var title=$("#title").val();
        	var imgs=$(content).find("img");
        	if(imgs.length>0){
        		var image=$(content).find("img")[0].src;
        	}	
        	if(!title){
        		alert("请填写文章标题");
        		return;
        	}
        	if(title.length>30||title.length<5){
        		alert("标题应在5~30个字符之间");
        		return;
        	}
        	if(!text){
        		if(!hasContent){
        			alert("文章内容不能全部是图片，请填写文字内容");
        		}else{        			
        			alert("请填写文章内容");
        		}
        		return;
        	}
        	//文章概要
        	var outline=text.substring(0,100);
        	$.ajax({
        		url:"$!{rc.contextPath}/user/save_article",
        		type:"post",
        		dataType:"json",
        		data : {content,content,title:title,status:status,outline:outline,image:image},
        		beforeSend:function(){
        			$(".myBtn").attr({ disabled: "disabled" });
        		},
        		success:function(data){
        			if(data.code=='200'){
        				alert(data.msg);
        				$('.myBtn').attr({ disabled: "disabled" });
        				setTimeout(function(){
        					location.href="$!{rc.contextPath}/user/my_articles";	
        				},100);;
        			}else{
        				alert(data.msg);
        				$(".myBtn").removeAttr("disabled");
        			}
        		},
        		error:function(){
        			alert("文章发布失败");
        		}
        	});
        }
    </script>
    <script src="$!{rc.contextPath}/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
