<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Article List</title>
    <!-- Bootstrap core CSS -->
    <link href="$!{rc.contextPath}/static/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$!{rc.contextPath}/static/assets/css/main.css" rel="stylesheet">
    <link href="$!{rc.contextPath}/static/assets/css/article.css" rel="stylesheet">
    <script src="$!{rc.contextPath}/static/js/util.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$!{rc.contextPath}/user/index">$!{user.nickname}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="$!{rc.contextPath}/user/article">编写文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_articles">我的文章</a></li>
            <li><a href="$!{rc.contextPath}/user/my_pictures">我的相册</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="$!{rc.contextPath}/user/quit">退出</a></li>
          </ul>
        </div>
      </div>
    </div>
	
	<!-- 分类 -->
	<div id="">
		<ul class="category-ul">
			<li class="category-item selected" status="">
				全部
			</li>
			<li class="category-item" status="3">
				已发表
			</li>
			<li class="category-item" status="1">
				草稿
			</li>
			<li class="category-item" status="2">
				审核中
			</li>
			<li class="category-item" status="0">
				未通过
			</li>
		</ul>
		<hr style="width:60%;margin:auto;"/>
	</div>
	
	<!-- 文章列表 -->
	<div id="articleList">

	</div>
	
	<a href="#top" id="toTop" title="返回顶部" class="button-to-top">
	</a>
	
	<!-- 加载提示 -->
	<div class="container">
		<h4 id="msg" class="article-msg"></h4>
	</div>
	
	<div class="container" style="height:200px;">
		<a id="noDataFlag" style="dispaly:none" href="$!{rc.contextPath}/user/article" class="article-no-data nodatamsg">您暂时没有任何文章，赶紧写一篇文章吧！！！</a>
		<a id="noMatchDataFlag" style="dispaly:none" class="article-no-data nodatamsg">没有符合条件的文章！！！</a>
	</div>
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 987,<br/>
						+34 9054 5455, <br/>
						Madrid, Spain.
					</p>
				</div>
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Stanley</h4>
					<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var pageNo=1;
		var pageSize=40;
		var status="";
		var hasData=true;
		function loadData(){
			$("#msg").html("数据加载中....");
			$(".nodatamsg").hide();
			setTimeout(function(){
				$.ajax({
					url:"$!{rc.contextPath}/user/get_articles",
					type:"post",
					dataType:"json",
					async:false,
					data:{pageNo:pageNo,pageSize:pageSize,status:status},
					beforeSend:function(){
						
					},
					success:function(data){
						$("#msg").html("");
						var length=data.length;
						if(length<pageSize){
							hasData=false;
							if(pageNo==1&&length==0){
								if(status==''){								
									$("#noDataFlag").show();
								}else{
									$("#noMatchDataFlag").show();
								}
								return;
							}
							$("#msg").html("没有更多数据了");
						}else{
							pageNo++;
						}
						for(var i=0;i<length;i++){
							var one=data[i];
							var formatDate=new Date(one.createTime);
							formatDate=dateFormat("yyyy-MM-dd hh:mm:ss",formatDate);
							var myCss="article-status-"+one.status;
							var img='';
							if(one.image){							
								img='<a href="$!{rc.contextPath}/user/article/detail/'+one.articleId+'" target="_blank"><img src="'+one.image+'" width="150px" height="100px" />';
							}
							var artile='<div id="white">'+
						    '<div class="container">'+
								'<div class="row">'+
									'<div class="col-lg-8 col-lg-offset-2">'+
										'<p><img class="img-circle" src="#if(!$user.userPortrait) $!{rc.contextPath}/static/assets/img/user.png #else ${user.userPortrait} #end" width="50px" height="50px">'+
											'<ba>&nbsp;&nbsp;&nbsp;&nbsp;$!{user.nickname}</ba>'+
										'</p>'+
										'<p>'+formatDate+'&nbsp;&nbsp;<span class="article-status '+myCss+'"></span></p>'+img+
										'</a>'+
										'<h4 class="article-h4"><a title="详细页" href="$!{rc.contextPath}/user/article/detail/'+one.articleId+'" target="_blank">'+one.title+'</a></h4>'+
										'<p style="margin-top:5px">'+one.outline+'。。。</p>'+
									'</div>'+
								'</div>'+
						    '</div>'+
						'</div><hr style="width:60%;margin:auto;"/>';	
						$("#articleList").append(artile);	
						}	
					}
				});
			},800);
		}
		
		$(function(){  
			loadData();
	        var range = 50;   //距下边界长度/单位px   
	        var totalheight = 0;   
	        var main = $("#articleList");  //主体元素  
	        $(window).scroll(function(){  
	            var srollPos = $(window).scrollTop();  //滚动条距顶部距离(页面超出窗口的高度)  
	            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);  
	            if(($(document).height()-range) <= totalheight&&hasData){  
	            	loadData();
	            }  
	          	//是否到底部了
	        	var atBottom=false;
	        	var scrollTop = $(window).scrollTop();
	        	var scrollHeight = $(document).height();
	        	var windowHeight = $(window).height();
	        	if(scrollTop + windowHeight == scrollHeight){
	        	　　atBottom=true;
	        	}
	            var srollPos = $(window).scrollTop();  // 滚动条距顶部距离(页面超出窗口的高度)  
	            srollPos > 100 && !atBottom ? $('#toTop').fadeIn() : $('#toTop').fadeOut();
	        });  
	        
	        //切换文章类型状态
	        $('.category-item').click(function(obj){
	        	$('.category-item').removeClass('selected');
	        	$(this).addClass('selected')
	        	pageNo=1;
	        	hasData=true;
	        	$("#articleList").html("");	
	        	status=$(this).attr('status');
	        	console.log("文章类型"+status);
	        	loadData();
	        });
	    });     
	</script>
    <script src="$!{rc.contextPath}/static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
