<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>链接管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="#config('keywords')#end">
  <meta name="description" content="#config('description')#end">
  <link rel="icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="$!{rc.contextPath}/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/res/css/global.css">
  <link rel="stylesheet" href="$!{rc.contextPath}/static/css/bootstrap.css" >
<!--   <script type="text/javascript" src="$!{rc.contextPath}/static/js/jquery.js"></script> -->
<!--   <script type="text/javascript" src="$!{rc.contextPath}/static/js/bootstrap.min.js"></script> -->
</head>
<body class="childrenBody">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user"> 	
      <div class="layui-tab-content" style="padding:0;">
	    <div class="layui-tab-item layui-show">
		   链接名称：
	    <div class="layui-inline">
	    	<input placeholder="请输入链接名称" class="layui-input" name="linkName" id="linkNameInput" autocomplete="off">
	    </div>
	    
	    <button class="layui-btn" data-type="reload" id="search">搜索</button>
	    
	    <div class="layui-btn-group">
	    	#hasPermission('/user/link/doAdd')
	     	<button class="layui-btn" id="btnAdd"><i class="layui-icon">&#xe608;</i>新增链接</button>
	     	#end
  		</div>
  		
	    <table id="linkTable" lay-filter="linkTab"></table>
	        
	    </div>
      </div>
    </div>
  </div>

<script src="$!{rc.contextPath}/static/res/layui/layui.js"></script>
<script src="$!{rc.contextPath}/static/js/util.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '$!{rc.contextPath}/static/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '$!{rc.contextPath}/static/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');

//table
layui.use(['table','jquery','form'], function(){
	  var table = layui.table;
	  var form=layui.form;
	  var $ = layui.$ , active = {
	    reload: function(){
	        var linkNameInput = $('#linkNameInput');
	        //执行重载
	        table.reload('tab', {
	          page: {
	            curr: 1 //重新从第 1 页开始
	          }
	          ,where: {
	        	  linkName: linkNameInput.val()
	          }
	        });
	      }
	    };
	  
	  //监听工具条
	  table.on('tool(linkTab)', function(obj){
	    var data = obj.data;
	     if(obj.event === 'del'){
	      layer.confirm('确定删除该链接么', function(index){
	        layer.close(index);
	    	$.ajax({
	    		url:"$!{rc.contextPath}/user/link/doDelete",
	    		type:"post",
	    		data:{id:data.id},
	    		success:function(data){
	    			if(data.code=='200'){
	    				layer.alert(data.msg);
	    				table.reload('tab');
	    			}else{	    				
	    				layer.alert(data.msg);
	    			}
	    		}
	    	});  
	      });
	    }else if(obj.event==='edit'){
	    	showAddTab('编辑链接','$!{rc.contextPath}/user/link/addPage?id='+data.id,'$!{rc.contextPath}/user/link/doEdit');
	    }
	  });
	  
	  form.on('switch(linkStatus)', function(data){
		  var id=$(data.elem).attr('id');
		  var new_status =this.checked ? '1' : '0';
		  var tipText = '确定下线改链接？';
          if(data.elem.checked){
              tipText = '确定上线该链接？'
          }
          layer.confirm(tipText,{
              icon: 3,
              title:'系统提示',
              cancel : function(index){
                  data.elem.checked = !data.elem.checked;
                  form.render();
                  layer.close(index);
              }
          },function(index){//确认
    		  $.ajax({
    			  url:'$!{rc.contextPath}/user/link/changeStatus',
    			  data:{id:id,status:new_status},
    			  dataType:'json',
    			  type:'post',
    			  success:function(res){
    				  if(res.code=='200'){
    					  layer.alert(res.msg);
    				  }else{
    					  data.elem.checked = !data.elem.checked;
    		              form.render();
    					  layer.alert(res.msg);
    				  }
    				  layer.close(index);
    			  }
    		  });
          
          },function(index){//取消
              data.elem.checked = !data.elem.checked;
              form.render();
              layer.close(index);
          });
	  });
	  
	  //第一个实例
	  var linkTable=table.render({
		id: 'tab',  
	    method: 'post',  
	    elem: '#linkTable',
	    height: 500,
	    request: {
	    	pageName: 'pageNo', //页码的参数名称，默认：page
	    	limitName: 'pageSize' //每页数据量的参数名，默认：limit
	    },
	    response: {
	        statusCode: 200, //成功的状态码，默认：0
	        countName: 'total', //数据总数的字段名称，默认：count
	        dataName: 'data' //数据列表的字段名称，默认：data
	    },
	    url: '$!{rc.contextPath}/user/link/getPageData', //数据接口
	    page: true ,//开启分页
	    cols: [[ //表头
	      {title: '序号', width:50,fixed: 'left',type:'numbers'},
	      {field: 'id', title: 'ID', width:100,fixed: 'left'},
	      {field: 'linkName', title: '链接名称', width:100},
	      {field: 'linkUrl', title: '链接地址', width:450},
	      {field: 'sort', title: '排序', width:80},
	      {field: 'status', title: '状态', width:100,templet:
	    	  function(d){
	    	  	  var statusAuth='#hasPermission("/user/link/changeStatus") 1 #end';
	    	  	  if(!statusAuth){
	    	  		statusAuth='disabled';
	    	  	  }
		    	  var checked='';
		    	  if(d.status=='1'){
		    		  checked='checked';
		    	  }
		    	  var s='<input value="1" id="'+d.id+'" lay-filter="linkStatus" type="checkbox" name="status" lay-skin="switch" lay-text="上线|下线" '+statusAuth+' '+checked+'>';
		    	  return s;
	      	  }
	       },
	      {field: 'createTime', title: '创建时间', width:200,templet:function(d){
	    	  return dateFormat('yyyy-MM-dd hh:mm:ss',new Date(d.createTime));
	      }},
	      {title:'操作',width:200,templet:function(row){
	    	  var p_edit='#hasPermission("/user/link/doEdit") 1 #end';
        	  var p_delete='#hasPermission("/user/link/doDelete") 1 #end';
	    	  
	    	  var t_edit='<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
	    	  var t_delete='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
	    	  var show='';
	    	  if(p_edit){
	    		  show+=t_edit;
	    	  }
	    	  if(p_delete){
	    		  show+=t_delete;
	    	  }
	    	  return show;
	      }}
	    ]]
	  });
	  
	  $('#search').on('click', function(){
		   var type = $(this).data('type');
		   active[type] ? active[type].call(this) : '';
	  });
	  
  	  //打开新增链接tab页
	  function showAddTab(title,pageUrl,doUrl){
			layer.closeAll();
			$.get(pageUrl, null, function(form) {
			if(form.code=='400'){
				layer.msg(form.msg);
				return;
			}	
			var index=layer.open({
					type: 1,
					title: title,
					content: form,
					btn: ['保存', '取消'],
					shade: false,
					maxmin: true,
					offset: ['50px', '20%'],
					area: ['800px', '300px'],
				yes: function(index) {
					//触发表单的提交事件
					$('form.layui-form').find('button[lay-filter=edit]').click();
				},
				full: function(elem) {
					var win = window.top === window.self ? window : parent.window;
					$(win).on('resize', function() {
						var $this = $(this);
						elem.width($this.width()).height($this.height()).css({
							top: 0,
							left: 0
						});
						elem.children('div.layui-layer-content').height($this.height() - 95);
					});
				},
				success: function(layero, index) {
					//弹出窗口成功后渲染表单
					var form = layui.form;
					form.render();
					form.on('submit(edit)', function(data) {
						console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
						console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
						console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
						 $.ajax({
							 url:doUrl,
							 type:'post',
							 data:data.field,
							 success:function(res){
								 if(res.code=='200'){
									 layer.msg(res.msg);
									 layer.close(index);
									 linkTable.reload();
								 }else{
									 layer.msg(res.msg);
								 }
							 }
						 });
						//这里可以写ajax方法提交表单
						return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。									
					});
				},
				end: function() {
					addBoxIndex = -1;
				}
				});
			});
		}
	  
	  $('#btnAdd').on('click', function() {
		  showAddTab('添加链接','$!{rc.contextPath}/user/link/addPage','$!{rc.contextPath}/user/link/doAdd');
	  });
      
	  
	  
});


</script>
#parse("./html/common/common.html")
</body>
</html>